@import '../../styles/timing.css';
@import '../../styles/colors.css';

.potential-popup {
  width: 100%;

  &.popup {
    width: 50vw;
  }
}

.popup {
  position: absolute;
  width: 70vw;
  padding: 1rem 0.5rem;
  margin-top: 47px; /*was 2em*/
  background: white;
  border: 1px solid var(--colors-vlightgray);
  border-radius: 0.5ch;
  z-index: 100;
  /*transition-property: opacity, transform, clip-path;*/
  transition-property: opacity, transform;
  transition-timing-function: var(--timing-fn-spring);
  transition-duration: var(--timing-medium);
  opacity: 0;
  transform: translateY(-100px);
  /*clip-path: circle(0 at 25% 0);*/
  pointer-events: none;

  &.visible {
    opacity: 1;
    transform: translateY(0);
    /*clip-path: circle(50vw at 25% 0);*/
    pointer-events: initial;
  }
}

.child-container {
  display: contents;
}

.db-selector {
  column-count: 3;
  padding: 0.5ch;
  column-gap: 0.8rem;
  /*margin: 1ch;*/

  &:not(.one-column) .text {
    margin-left: 1ch;
  }

  &.one-column {
    column-count: 1;
    margin: 0;
  }
}
.left-side-db-selector .db-selector {
  padding: 0;
} /*removed for non popup selector*/

@supports (display: grid) {
  .db-selector:not(.one-column) {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
  }
}

.db-choice {
  break-inside: avoid;
  border-left: 4px solid currentColor;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
  font-size: 0.75rem;
  cursor: pointer;
  transition: opacity var(--timing-medium) ease-in-out;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transition: transform var(--timing-medium) var(--timing-fn-spring);
    transform: translateX(calc(100% - 1px));
  }

  &::before {
    background: #cacaca;
    left: 0;
  }

  &::after {
    border: 1px solid currentColor;
    left: 100%;
    width: 130%;
  }

  &:hover::before {
    transform: translateX(calc(100% - 1ch));
  }

  &.checked {
    font-weight: bold;

    &::before,
    &::after,
    &:hover::before {
      transition-delay: var(--timing-medium);
      transform: translateX(calc(-100% + 0.5ch));
    }

    &::before {
      background: currentColor;
    }

    &::after {
      transform: translateX(-80%);
    }

    & .label {
      color: white;
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  & > .text {
    margin-left: 0.5rem;
    color: #4b555b;
  }

  & > input {
    display: none;
  }

  & > .label {
    background: var(--colors-nearly-white);
  }
}

@media screen and (min-height: 1000px) {
  .db-choice {
    padding: 0.5rem 0.25rem;
  }
}

@media screen and (max-height: 700px) {
  .db-choice {
    padding: 0;
  }
}

.container {
  display: flex;
  padding: 0;
  outline: 0;

  & h6 {
    margin: 0 1ch 1ch 0.5ch;
  }
}

.lowGraphics.container * {
  &::before,
  &::after {
    transition: none !important;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .lowGraphics.container * {
    &::before,
    &::after {
      transition: none !important;
    }
  }
}
