@import "../../../styles/colors.css";

.file-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.1rem;
  &:hover {
    text-decoration: none;
  }
}
.file-label {
  padding: 0 0.5rem;
}

.downloading {
  cursor: progress !important;
}

.failed {
  cursor: not-allowed !important;
}

.button.in-popup {
  padding: 0.5em 1em;
  &,
  &:focus,
  &:visited {
    border-color: white !important;
    color: white !important;
  }
}
