@import "../../../styles/colors.css";

.file-button {
  padding: 0;
  margin: 0;
  &:hover {
    text-decoration: none;
  }
}
.file-label {
  padding: 0 0.5rem;
}

.downloading {
  cursor: progress !important;
}

.failed {
  cursor: not-allowed !important;
}

.button.in-popup {
  padding: 0.5em 1em;
  &,
  &:focus,
  &:visited {
    border-color: white !important;
    color: white !important;
  }
}

.vf-box {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.download-menu {
  column-gap: 0.2rem;
  justify-content: left;
}
