@import "../../../styles/colors.css";

.file-button {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0;
  &:hover {
    text-decoration: none;
  }
}
.file-label {
  padding: 0 0.5rem;
}

.downloading {
  cursor: progress !important;
}

.failed {
  cursor: not-allowed !important;
}

.button.in-popup {
  padding: 0.5em 1em;
  &,
  &:focus,
  &:visited {
    border-color: white !important;
    color: white !important;
  }
}
