@import '../../styles/fonts.css';
@import '../../styles/colors.css';

.protvista {
  font-size: 12px;
}
/*top option*/
.view-options-wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

@media screen and (max-width: 39.9375em) {
  .view-options-wrap {
    flex-wrap: wrap;
  }
  .option-fullscreen {
    display: none;
  }
}

.view-options-title {
  font-size: 1.25rem;
  font-family: var(--fonts-system);
}

@media screen and (max-width: 75rem) {
  .view-options-title {
    font-size: 1rem;
    font-weight: 500;
    flex-shrink: 0;
  }
}

.view-options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 90%;
}

.view-options select {
  font-size: 100%;
  width: auto;
  padding: 0 1.5rem 0 0.5rem;
  border: 1px transparent solid; /*define transparent border to fix the moving bu on focus*/
  margin-bottom: 0;
}
/*avoid select text to collapse for small screens*/
.option-color {
  white-space: nowrap;
}
.option-fullscreen button {
  color: var(--colors-dark);
}
.option-fullscreen button:hover {
  color: var(--colors-nearly-black);
}

.option-collapse {
  width: 150px;
  border-left: 1px solid black;
  padding-left: 1.5rem;
  & button {
    outline: none;
  }
}

@media screen and (max-width: 39.9375em) {
  .option-collapse {
    padding-left: 0.5rem;
  }
}

.track-group {
  width: 100%;
  display: block;
}

.tracks-container {
  color: rgb(102, 102, 102);
}

.tracks-container header {
  padding-top: 0.5rem;
  padding-left: 0.3rem;
  /*Trial to make it work with highlighted*/
  /*position: absolute;*/
  /*margin-top: -1.5rem;*/
  border-top: 3px solid rgba(195, 195, 195, 0.4);
}

.tracks-container header button {
  outline: 0;
  fill: var(--colors-dark);
  text-transform: capitalize;
  font-size: 129%;
  font-family: var(--fonts-system);
  font-weight: 300;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

/*text ruler used when zooming*/
.track-container text {
  fill: var(--colors-graydark);
}

/*zoom sqc indicator*/
.track-container svg polygon {
  fill: black;
  opacity: 0.8;
}
.track-container svg rect {
  stroke-width: 0;
  fill-opacity: 0.45; /*fill: black;*/
}

.track-row {
  display: flex;
}
.track-component {
  width: 88%;
  background: rgba(0, 0, 0, 0.14);
  cursor: move;
}

/*can't use highlight class*/
.track-component rect {
  fill: grey;
}

/*blobs*/
.track-component path {
  stroke: rgba(0, 0, 0, 0.3);
  stroke-width: 2;
  cursor: pointer;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.aligned-to-track-component {
  width: 88%;
  line-height: 0;
}

.track-accession {
  font-family: var(--fonts-system);
  width: 12%;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 0.5rem;
  text-transform: uppercase;
  & a:hover {
    border-bottom: 1px var(--colors-dark) solid;
  }
}
.track-accession > a,
.track-accession > a:focus,
.track-accession > a:visited {
  font-weight: 600;
  color: var(--colors-dark);
}
.track-accession-child {
  line-height: 1.2; /*condensed view - if removed highlight is not working anymore*/
  white-space: nowrap;
}
.track-accession-child > a,
.track-accession-child > a:focus,
.track-accession-child > a:visited {
  font-size: 90%;
  color: var(--colors-graydark);
}
/*resize elements for small screens in order to see full IPR number*/
@media screen and (max-width: 39.9375em) {
  .aligned-to-track-component,
  .track-component {
    width: 80%;
  }
  .track-accession {
    width: 20%;
  }
}

.hideCategory {
  display: none;
}

.track-component path:global(.child-fragment) {
  stroke-width: 0;
  opacity: 0.5;
  cursor: pointer;
}
.track-component path:global(.child-fragment):hover {
  opacity: 0.7;
}
.track-component line:global(.cover) {
  opacity: 0.5;
}
/*remove stroke when residues track*/
.track-component :global(.residues-group) path:global(.feature) {
  stroke-width: 0;
}

.fullscreenable:-webkit-full-screen .fullscreen {
  display: none;
}
.fullscreenable:-webkit-full-screen {
  width: 100%;
}

.popper {
  position: absolute;
  background: var(--colors-ebidark);
  text-align: center;
  color: white;
  min-width: 180px;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 0.8rem 1rem;
  margin: 4px;

  & h5 {
    text-transform: uppercase;
    font-weight: bold;
  }
  & h6 {
    opacity: 0.8;
  }
  & h6,
  & h5,
  & h4 {
    color: white;
  }

  & ul {
    /*text-align: left;*/
    list-style: none;
    margin: 0;
  }
}

.popper .popper__arrow {
  width: 0;
  height: 0;
  position: absolute;
  margin: 5px;
  border: solid #333;
}

.popper[x-placement^='top'] .popper__arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^='bottom'] {
  margin-top: 5px;
}
.popper[x-placement^='bottom'] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^='right'] {
  margin-left: 5px;
}
.popper[x-placement^='right'] .popper__arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^='left'] {
  margin-right: 5px;
}
.popper[x-placement^='left'] .popper__arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

/*Structure and protein page - entry list page*/
.track-in-table {
  /*min-width: 300px;*/
}

.track-in-table text {
  fill: var(--colors-graydark);
}
/*temp while we can't use the direct class .sequence*/
.track-in-table protvista-sequence svg > g:nth-of-type(2) text {
  transform: TranslateY(6px); /*temp fix when sequence appears*/
}
.track-in-table .track-component,
.track-in-table .aligned-to-track-component {
  width: 100%;
}
/*keep nth-of-type to make it work with multi track as for structure*/
.track-in-table .track-component:nth-of-type(2),
.track-in-table .track-row:nth-of-type(2) {
  margin-top: -18px;
}

.pop-wrapper {
  display: flex;
  justify-content: center;
  & div:first-of-type {
    margin-right: 0.5rem;
  }
}
