@import '../../styles/fonts.css';
@import '../../styles/colors.css';

.protvista {
  font-size: 12px;
}
/*top option*/
.view-options-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-options-title {
  font-size: 140%;
  font-family: var(--fonts-system);
  line-height: 1;
  float: left; /*temp - fix alignment bug*/
}

@media screen and (max-width: 75rem) {
  .view-options-title {
    font-size: 1.23rem;
    font-weight: 500;
  }
}
.view-options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 90%;
}
.view-options select {
  font-size: 100%;
  padding: 0 1.5rem 0 0.5rem;
  border: 1px transparent solid; /*define transparent border to fix the moving bu on focus*/
}

.track-group {
  width: 100%;
  display: block;
}
.tracks-container {
  color: rgb(102, 102, 102);
}

.tracks-container header {
  border-top: 6px solid rgba(255, 255, 255, 0.4);
}
.tracks-container header button {
  fill: var(--colors-dark);
  text-transform: capitalize;
  font-size: 110%;
  font-family: var(--fonts-system);
  font-weight: 300;
}
.track-container {
  padding-left: 1em;
}

.track-row {
  display: flex;
}
.track-component {
  width: 90%;
  background: rgba(0, 0, 0, 0.14);
}
.track-component path {
  opacity: 0.7;
  stroke: rgba(0, 0, 0, 0.3);
  stroke-width: 2;
}
.track-component path:hover {
  opacity: 1;
}
.aligned-to-track-component {
  width: 90%;
  line-height: 0;
}
.track-accession {
  width: 10%;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 0.5em;
}
.track-accession > a,
.track-accession > a:focus,
.track-accession > a:visited {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--colors-dark);
}
.track-accession-child {
  line-height: 1.2;
  white-space: nowrap;
}
.track-accession-child > a,
.track-accession-child > a:focus,
.track-accession-child > a:visited {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: normal;
  color: var(--colors-dark);
}
div.buttons {
  font-size: 0.9em;
}
.select-inline {
  font-size: 0.9em;
  width: auto;
  padding-bottom: 0;
  border: 0;
  margin-bottom: 0;
}
.hideCategory {
  display: none;
}
.fullscreenable:-webkit-full-screen .fullscreen {
  display: none;
}
.fullscreenable:-webkit-full-screen {
  width: 100%;
}

.popper {
  & h5 {
    text-transform: uppercase;
    font-weight: bold;
  }
  & h5,
  & h4 {
    color: white;
  }
}

.popper {
  position: absolute;
  background: #333;
  text-align: center;
  color: white;
  min-width: 150px;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 0.4rem 0.8rem;
  margin: 6px;
}
.popper ul {
  text-align: left;
  list-style: none;
}
.popper .popper__arrow {
  width: 0;
  height: 0;
  position: absolute;
  margin: 5px;
  border: solid #333;
}

.popper[x-placement^='top'] .popper__arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^='bottom'] {
  margin-top: 5px;
}
.popper[x-placement^='bottom'] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^='right'] {
  margin-left: 5px;
}
.popper[x-placement^='right'] .popper__arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^='left'] {
  margin-right: 5px;
}
.popper[x-placement^='left'] .popper__arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.track-in-table {
  min-width: 300px;
  font-size: 12px;
}
.track-in-table .track-component:nth-of-type(2),
.track-in-table .track-row:nth-of-type(2) {
  margin-top: -24px;
}
