.sorticon {
  display: inline;
  font-size: 0.5em;
  color: #AAA;
  cursor: pointer;
}
.sorticon::before {
  content: '▲';
  position: relative;
  top: -1em;
}
.sorticon::after {
  content: '▼';
  position: relative;
  left: -1em;
}
.sorticon.asc::before, .sorticon.desc::after {
  color: #228;
}
