.side-panel h5 {
  /*background-color: #b9d7ef;*/
  padding: 0.5rem 1rem;
}

.db-name {
  font-size: 80%;
  color: #4b555b;
}

.md-icon-list-box {
  border: 1px #e6e6e6 solid;
}

.md-list {
  list-style: none;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;

  & .md-small {
    height: 60px;
  }

  & li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 0.5rem;

    &:only-child {
      flex-grow: 1;
    } /* only when one single signature and nothing else */

    &:hover {
      transition: background-color 0.1s;
      background-color: #e4f3ff;
    }
  }
}
