@import "../../styles/colors.css";

.alignment-selector {
  display: flex;
  margin: 0 0 1rem;
  & span {
    white-space: nowrap;
    padding-right: 1em;
    align-self: center;
  }
  & select,
  & a {
    margin: 0;
  }
  & a,
  & a:focus,
  & a:hover {
    color: white;
  }
}
.controllers {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  & select {
    margin-left: 1em;
  }
  & label {
    display: flex;
    align-items: baseline;
    margin-left: 4px;
  }
  & button,
  & a {
    margin-left: 4px;
    background: var(--colors-interpro);
  }
  & .disabled {
    color: var(--colors-ulightgray);
  }
}
.controllers .dropdown-container {
  margin: 0 0 1rem 4px;
  & button span {
    font-size: 0.9rem;
  }
  & .legend-table {
    & tr {
      & td {
        border: 1px solid black;
        min-width: 2em;
        text-align: center;
        padding: 0;
      }
    }
  }
}
