.alignment-selector {
  display: flex;
  margin: 0 0 1rem;
  & span {
    white-space: nowrap;
    padding-right: 1em;
    align-self: center;
  }
  & select,
  & a {
    margin: 0;
  }
  & a,
  & a:focus,
  & a:hover {
    color: white;
  }
}
