@import "../../styles/colors.css";

.alignment-selector {
  display: flex;
  margin: 0 0 1rem;
  & span {
    white-space: nowrap;
    padding-right: 1em;
    align-self: center;
  }
  & select,
  & a {
    margin: 0;
  }
  & a,
  & a:focus,
  & a:hover {
    color: white;
  }
}
.controllers {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  & * {
    margin-left: 4px;
  }
  & select {
    margin-left: 1em;
  }
  & label {
    display: flex;
    align-items: baseline;
  }

  & .disabled {
    color: var(--colors-ulightgray);
  }
}
