.list li {
  margin-bottom: 1rem;
}
.md-small {
  width: 50%;
  margin-left: 5rem;
}
.cite-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.cite-icon {
  align-self: center;
  font-size: 1000%;
  color: #dedede;
  line-height: 1;
}

.cite-title {
  font-weight: bold;
  align-self: center;
  margin-bottom: 1rem;
}
