@import "../../styles/timing.css";

.filters-panel {
  max-height: 250px;
  flex-flow: row nowrap; /*make it work with Firefox*/
}
.filters-panel,
.filters-panel h6,
.filters-panel label {
  color: #4b555b;
}

.filters-panel h6 {
  font-size: 120%;
}
.filters-panel .but-collapse {
  font-size: 80%;
  outline: 0;
}
.filter-title-arrow {
  font-size: 150%;
}

.col-width-limit {
  max-width: 30%;
} /* so column doesn't expand totally when only 1-2 filters*/

.filter-panel {
  max-height: 80%;
  margin-bottom: 0.5rem;
  overflow-y: auto;

  &.collapsed {
    height: 0;
    overflow-y: hidden;
  }
}

interpro-type {
  line-height: 1.5;
} /*important to keep: define correct line-height for entry type filter*/

hr {
  margin: 0;
}
/* Medium + */
@media screen and (min-width: 40em) and (max-width: 56em) {
  .filter-panel label span {
    display: none;
  }
  .filter-panel label input + span {
    display: block;
  }
  input[value="ALL"] + span {
    visibility: hidden;
  } /*target the remaining label for first panel entry type: all*/
}

/* Small screen only */
@media screen and (max-width: 39.9375em) {
  .filters-panel {
    flex-flow: row wrap;
    max-height: none;
  }
  .filter-panel {
    max-height: 150px;
  }
}
