@import '../../styles/timing.css';

.filters-panel {
  max-height: 250px;
  flex-flow: row nowrap; /*make it work with Firefox*/

  & label {
    line-height: normal;
    margin-top: 0.1em;
  }
}
.filters-panel,
.filters-panel .toggle,
.filters-panel label,
.filters-panel button {
  color: #4b555b;
}

.filters-panel .toggle {
  font-size: 110%;
  cursor: pointer;
}
.filters-panel .but-collapse {
  font-size: 80%;
  outline: 0;
  cursor: pointer;
}
.filter-title-arrow {
  font-size: 150%;
}

.col-width-limit {
  max-width: 30%;
} /* so column doesn't expand totally when only 1-2 filters*/

.filter-panel {
  max-height: 146px;
  margin-bottom: 0.3rem;
  overflow-y: auto;

  &.collapsed {
    height: 0;
    overflow-y: hidden;
  }
}

.filter-buttons {
  margin-left: 1rem;
}

hr {
  margin: 0;
}

.filter-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter-button input {
  flex-shrink: 0;
} /*important so the radio button doesn't resize for taxonomy filter*/

/* Medium + */
@media screen and (min-width: 40em) and (max-width: 56em) {
  /*.filter-panel label span {display: none;}
  .filter-panel label input ~ span:last-child {display: block;}*/
  /*remove label number used for filtering (entry - protein - structure - )*/
  .filter-label {
    display: none;
  }
}

/* Small screen only */
@media screen and (max-width: 39.9375em) {
  .filters-panel {
    flex-flow: row wrap; /*does it do anything?*/
    max-height: none; /*does it do anything?*/
  }

  .filters-panel > div {
    margin-bottom: 0.5rem;
  }

  .filter-panel {
    max-height: 124px;
  }
}
