@import "../../styles/timing.css";

.filters-panel {
  max-height: 250px;
  flex-flow: row nowrap; /*make it work with Firefox*/
}
.filters-panel h6 {
  font-size: 120%;
}
.filters-panel .but-collapse {
  font-size: 80%;
}
.filter-title-arrow {
  font-size: 150%;
}

.col-width-limit {
  max-width: 30%;
} /* so column doesn't expand totally when only 1-2 filters*/

.filter-panel {
  max-height: 80%;
  margin-bottom: 0.5rem;
  overflow-y: auto;

  &.collapsed {
    height: 0;
    overflow-y: hidden;
  }
}

hr {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
/* Medium + */
@media screen and (min-width: 40em) and (max-width: 56em) {
  .filter-panel label span {
    display: none;
  }
  .filter-panel label input + span {
    display: block;
  }
  input[value="ALL"] + span {
    visibility: hidden;
  } /*target the remaining label for first panel entry type: all*/
}
