@import '../../../../styles/timing.css';
@import '../../../../styles/colors.css';

:root {
  --loader-width: 2rem;
  --loader-height: 2rem;
  --loader-color-secondary: #eee;
  --line-width: 3px;
  --loader-initial-scale: 0.1;
}
.loader,
.loader:before,
.loader:after {
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
}

.loader.awesome-spin {
  display: inline-block;
  border-radius: 50%;
  color: var(--colors-progress, #33f);
  border-top: var(--line-width, 10px) solid;
  border-bottom: var(--line-width, 10px) solid;
  width: var(--loader-width, 100px);
  height: var(--loader-height, 100px);
  animation: awesome-spin var(--timing-really-slow, 2s) linear infinite;
}

@keyframes awesome-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
