.tabs {
  border: 0; /*needed to remove foundation style*/
  margin-bottom: 2rem;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.tabs-title {
  display: flex;
  align-items: stretch;
  margin-right: 3rem;
}
