.new-callout {
  position: relative;
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 0;
  border-radius: 0;
  background-color: white;
  color: #0a0a0a;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.new-callout > *:last-child {
  margin-bottom: 0;
}

.new-callout > .icon {
  font-size: 2rem;
  align-self: flex-start;
}

.new-callout.alt.alt {
  background-color: transparent;
  border: 1px solid #e9ecef;
  border-radius: 0.25rem;
}

.close-button.xs {
  right: 0.66rem;
  top: 0.66em;
  font-size: 0.8em;
  line-height: 1;
}

.new-callout.info {
  background-color: #c6e9ff;
  color: #0d3c61;
}

.new-callout.info.alt {
  border-left: #7fb0d1 4px solid;
}

.new-callout.alert {
  background-color: #fce6e2;
}

.new-callout.alert.alt {
  border-left: #d72b3f 4px solid;
}

.new-callout.warning {
  background-color: #fff3d9;
  color: var(--colors-light-title);
}

.new-callout.warning.alt {
  border-left: #ff7300 4px solid;
}

.new-callout.announcement {
  background-color: #c4ffaa;
}
.new-callout.announcement.alt {
  border-left: var(--colors-check) 4px solid;
}
