.count {
  transition: opacity 500ms ease-in-out;
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}

.entry-type .svg-container {
  width: 60%;
  margin: 0 auto;
}

.entry-type .columns:hover {
  background-color: #e4f3ff;
}
