.count {
  transition: opacity 500ms ease-in-out;
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}
.entry-type a.block {
  display: block;
}
.entry-type a.block:hover {
  background-color: #e4f3ff;
}
