@import '../../../styles/timing.css';
.entry-type a.block {
  display: block;
}
.entry-type a.block:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  transition: all var(--timing-really-fast) ease-out;
}
