@import '../../../styles/fonts.css';
@import '../../../styles/colors.css';

.editor {
  height: auto;
  min-height: 10em;
  max-height: 42em;
  font-family: var(--fonts-mono);
  font-size: 0.8rem;
  overflow: auto;
  margin-bottom: 0.5rem;

  @nest & :global(.public-DraftEditorPlaceholder-root) {
    color: #cacaca;
    font-size: 1rem;
    position: absolute;
    font-family: var(--fonts-ebi);
  }

  @nest & div[data-block='true'] {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
}

.line-with-buttons {
  align-items: baseline;

  @nest & > * {
    margin: auto 0.5ch;
  }
}

.file-input-label {
  line-height: inherit;
  cursor: pointer;
  color: currentcolor;
}

.search-form {
  position: relative;

  &.dragging {
    @nest & > :not(.dragging-overlay) {
      filter: blur(2px);
    }

    @nest & > .dragging-overlay {
      visibility: visible;
    }
  }
}

.dragging-overlay {
  position: absolute;
  pointer-events: none;
  height: 20%;
  width: 30%;
  left: 35%;
  top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 0.2em;
  visibility: hidden;
}

.invalid-block {
  border-color: var(--colors-alert-main);
}

.comment {
  color: gray;
}

.invalid-letter {
  color: var(--colors-alert-txt);
  font-weight: bold;
}

input:disabled {
  background: gray;
}

.busy {
  background-color: lightgray;
  color: #888;
  position: relative;
  overflow: hidden;
}

.busy::after {
  content: '⇪';
  color: white;
  font-size: 50vh;
  position: absolute;
  top: 0.5em;
  overflow: hidden;
  animation: uploading 1s infinite;
}
@keyframes uploading {
  0% {
    top: 0.5em;
  }
  100% {
    top: -1.5em;
  }
}

.sqc-search-input h3 {
  font-size: 150%;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 75rem) {
  .sqc-search-input h3 {
    font-size: 130%;
  }
}

.search-adv {
  text-align: right;
}

.search-adv span {
  font-style: italic;
  font-size: 80%;
  color: var(--colors-gray);
  margin-right: 0.2rem; /*to align with border form*/
}
