input[type='range'] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 90%;
}

input[type='range']:focus {
  outline: none;
}

/*Chrome custom*/

/*slider bar */
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  cursor: pointer;
  background: #b3b3b3;
  border-color: transparent;
}

/*slider button - on label slide*/
.label-on input[type='range']::-webkit-slider-thumb {
  height: 40px;
  width: 44px;
  border-radius: 16px;
}

/*slider button - off label slide*/
input[type='range']::-webkit-slider-thumb {
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #1779ba;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

input[type='range']::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

/*Firefox custom*/

/*slider bar*/
input[type='range']::-moz-range-track {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  cursor: pointer;
  background: #b3b3b3;
  border-color: transparent;
}
/*slider button - off slide*/
input[type='range']::-moz-range-thumb {
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #1779ba;
  cursor: pointer;
  margin-top: -8px;
  border: none;
}
/*slider button - on label slide*/
.label-on input[type='range']::-moz-range-thumb {
  height: 22px;
  width: 44px;
  border-radius: 16px;
}

/*IE custom*/
input[type='range']::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type='range']::-ms-fill-lower {
  background: #b6b6b6;
  border: 1px solid #8a8a8a;
  border-radius: 22px;
  box-shadow: 0px 0px 0px #000000;
}

input[type='range']::-ms-fill-upper {
  background: #b6b6b6;
  border: 1px solid #8a8a8a;
  border-radius: 22px;
  box-shadow: 0px 0px 0px #000000;
}

input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8a8a8a;
  height: 26px;
  width: 26px;
  border-radius: 18px;
  background: #dadada;
  cursor: pointer;
}

input[type='range']:focus::-ms-fill-lower {
  background: #b6b6b6;
}
input[type='range']:focus::-ms-fill-upper {
  background: #b6b6b6;
}

input[type='range']::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.multirange-wrapper {
  position: relative;
} /*if we use dynamic label on slider*/

.multirange-wrapper .original,
.multirange-wrapper .ghost {
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  left: 1rem;
}

input[type='range'].original {
  position: absolute;
}
input[type='range'].original::-webkit-slider-thumb {
  position: relative;
  z-index: 2;
}

input[type='range'].original::-moz-range-thumb {
  transform: scale(1); /* FF doesn't apply position it seems */
  z-index: 1;
}

input[type='range'].ghost {
  position: absolute;
}

/*position label on slider*/
.label-off .label-max,
.label-off .label-min {
  position: absolute;
  top: 20px;
}
.label-on div {
  position: absolute;
  z-index: 3;
  color: white;
  font-weight: bold;
}
