.toast {
  float: right;
  margin: 1rem 0;
  pointer-events: auto;
  border-radius: 0.2em;
  max-width: calc(50vw - 2rem);
  width: 40ch;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;

    &::after {
      color: darkred;
    }
  }

  &::after {
    content: '✖';
    position: absolute;
    right: 0.2em;
    top: 0;
    color: grey;
  }
}

@media (max-width: 40em) {
  .toast {
    max-width: calc(100vw - 2rem);
    width: calc(100vw - 2rem);
  }
}
