.toast {
  float: right;
  margin: 1rem 0;
  pointer-events: auto;
  width: calc(50vw - 2rem);
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

@media (max-width: 40em) {
  .toast {
    width: calc(100vw - 2rem);
  }
}
