.link {
  border-bottom-width: 0 !important;
  display: inline-block;
  line-height: 0;
}

.downloading {
  cursor: progress !important;
}

.failed {
  cursor: not-allowed !important;
}

.button {
  &,
  &:focus,
  &:visited {
    border-color: white !important;
    color: white !important;
  }
}

.tooltip-paragraph {
  padding: 0.2em;
  display: flex;
  justify-content: center;

  &,
  & > .button {
    margin: 0;
  }
}
