@import '../../styles/colors.css';

div.button {
  line-height: 0;
  display: flex;
  align-items: center;
  padding: 0.2em 1em;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--colors-graydark);

  & span {
    border-bottom-width: 0;
  }
  & span.file-label {
    cursor: pointer;
    color: var(--colors-graydark);
  }
}

.downloading {
  cursor: progress !important;
}

.failed {
  cursor: not-allowed !important;
}

.button.in-popup {
  padding: 0.5em 1em;
  &,
  &:focus,
  &:visited {
    border-color: white !important;
    color: white !important;
  }
}

.tooltip-paragraph {
  padding: 0.2em;
  display: flex;
  justify-content: center;

  &,
  & > .button {
    margin: 0;
  }
}
