.menu-item {
  color: #ccc;

  &:visited {
    color: #ccc;
  }

  &:hover {
    color: #ccc;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.75;
}

.active {
  color: #7dbb72;

  &:visited {
    color: #7dbb72;
  }
}
