.menu-item {
  color: #ccc;

  &:visited {
    color: #ccc;
  }

  &:hover {
    color: #ccc;
  }

  @nest & i {
    margin-right: 0.25em;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.75;
}

.active {
  color: #74abd0;
  border-bottom:0;/*temp while waiting for menu to redefine active class on <li> element */

  &:visited {
    color: #7dbb72;
  }
}
