.switch-paddle {
  color: #ffffff;
  font-weight: bold;
}

.disabled {
  cursor: not-allowed !important;
}

.switch label.switch-paddle.accession-selector {
  width: 8em;
  & span.switch-inactive {
    right: 1em;
  }
}

.switch input:checked ~ label.switch-paddle.accession-selector::after {
  left: 5.75rem;
}
