.go-list {
  font-size: 80%;
}

.bullet-icon {
  font-size: 400%;
  line-height: 0.5;
  display: block;
}

/*temp replace the float css while update to latest foundation*/
.go-list .row {
  display: flex;
  flex-flow: row wrap;
}

.go-list .column {
  flex: 0 0 25%;
  max-width: 25%;
}

.go-list .column:hover {
  background-color: #e4f3ff;
}

@media screen and (max-width: 40em) {
  .go-list .column {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 20em) {
  .go-list .column {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/*/temp replace the float css while update to latest foundation*/
