@import "../../styles/colors.css";
@import "../../styles/fonts.css";

.badge {
  background-color: var(--colors-main);
  color: var(--colors-nearly-white);
  margin: 0 0.1em;
  padding: 0.2em 0.3em 0 0.3em;
  font-family: var(--fonts-mono);
  font-size: 0.8em;
  border-radius: 0.4em;
}
