singleQuote: true
trailingComma: es5
overrides:
- files: "*.css"
  options:
    singleQuote: false
- files: 
  - "src/**/*.js"
  - "src/**/*.ts"
  - "src/**/*.tsx"
  options:
    parser: typescript
    trailingComma: all
