root:
  website: //localhost:8080/interpro/
  API: //localhost:8000/interpro/api/
  EBIsearch: //www.ebi.ac.uk/ebisearch/ws/rest/interpro
  IPScan: //ebi.ac.uk/Tools/services/rest/iprscan5/
IPScan:
  contactEmail: example@example.com
pages:
  entry:
    plural: entries
    subPages:
      - protein
      - structure
      - organism
      - domain architecture
      - hmm model
  protein:
    subPages:
      - entry
      - structure
      - domain architecture
  structure:
    subPages:
      - entry
      - protein
      - domain architecture
  organism:
    subPages:
      - entry
      - protein
      - structure
pagination:
  pageSize: 20
cache:
  enabled: true
