root:
  website: //localhost:8080/interpro/
  API: //localhost:8000/interpro/api/
pages:
  entry:
    plural: entries
  protein: null
  structure: null
  proteome: null
  pathway: null
pagination:
  pageSize: 10
cache:
  enabled: true
