root:
  website: //localhost:8080/interpro/
  API: //localhost:8000/interpro/api/
  EBIsearch: //www.ebi.ac.uk/ebisearch/ws/rest/interpro
  IPScan: //ebi.ac.uk/Tools/services/rest/iprscan5/
IPScan:
  contactEmail: example@example.com
pages:
  entry:
    plural: entries
    subPages:
      - proteins
      - structures
      - organisms
      - domain architectures
      - hmm models
  protein:
    subPages:
      - entries
      - structures
      - domain architectures
  structure:
    subPages:
      - entries
      - proteins
      - domain architectures
  organism:
    subPages:
      - entries
      - proteins
      - structures
pagination:
  pageSize: 20
cache:
  enabled: true
