/*
NOTE I Removed the in front of icon-generic class to make the menu work
*/
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: local('EB Garamond'), local('EBGaramond'), url(https://fonts.gstatic.com/s/ebgaramond/v7/kYZt1bJ8UsGAPRGnkXPeFYgp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
/*  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;*/
}

/* Load our custom font file */
@font-face {
  font-family: 'HelveticaNeueLT Pro';
  src: url('https://www.ebi.ac.uk/web_guidelines/fonts/helveticaneueltprolt.eot');
  src: url('https://www.ebi.ac.uk/web_guidelines/fonts/helveticaneueltprolt.eot?#iefix') format('embedded-opentype'),
  url('https://www.ebi.ac.uk/web_guidelines/fonts/helveticaneueltprolt.woff') format('woff'),
  url('https://www.ebi.ac.uk/web_guidelines/fonts/helveticaneueltprolt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EBI-Conceptual';
  src: url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Conceptual/fonts/EBI-Conceptual.eot');
  src: url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Conceptual/fonts/EBI-Conceptual.eot?#iefix') format('embedded-opentype'),
       url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Conceptual/fonts/EBI-Conceptual.woff') format('woff'),
       url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Conceptual/fonts/EBI-Conceptual.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EBI-Functional';
  src: url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Functional/fonts/EBI-Functional.eot');
  src: url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Functional/fonts/EBI-Functional.eot?#iefix') format('embedded-opentype'),
  url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Functional/fonts/EBI-Functional.woff') format('woff'),
  url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Functional/fonts/EBI-Functional.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EBI-Generic';
  src: url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Generic/fonts/EBI-Generic.eot');
  src: url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Generic/fonts/EBI-Generic.eot?#iefix') format('embedded-opentype'),
  url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Generic/fonts/EBI-Generic.woff') format('woff'),
  url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Generic/fonts/EBI-Generic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EBI-Species';
  src: url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Species/fonts/EBI-Species.eot');
  src: url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Species/fonts/EBI-Species.eot?#iefix') format('embedded-opentype'),
  url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Species/fonts/EBI-Species.woff') format('woff'),
  url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Species/fonts/EBI-Species.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EBI-SocialMedia';
  src: url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-SocialMedia/fonts/EBI-SocialMedia.eot');
  src: url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-SocialMedia/fonts/EBI-SocialMedia.eot?#iefix') format('embedded-opentype'),
  url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-SocialMedia/fonts/EBI-SocialMedia.woff') format('woff'),
  url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-SocialMedia/fonts/EBI-SocialMedia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EBI-FileFormats';
  src: url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-FileFormats/fonts/EBI-FileFormats.eot');
  src: url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-FileFormats/fonts/EBI-FileFormats.eot?#iefix') format('embedded-opentype'),
  url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-FileFormats/fonts/EBI-FileFormats.woff') format('woff'),
  url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-FileFormats/fonts/EBI-FileFormats.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EBI-Chemistry';
  src: url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Chemistry/fonts/EBI-Chemistry.eot');
  src: url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Chemistry/fonts/EBI-Chemistry.eot?#iefix') format('embedded-opentype'),
  url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Chemistry/fonts/EBI-Chemistry.woff') format('woff'),
  url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Chemistry/fonts/EBI-Chemistry.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icon {
  text-decoration: none;
  font-style: normal;
  text-rendering: optimizeLegibility !important;
}
 i.icon-conceptual,
 input.icon-conceptual,
 .icon-conceptual:before {
  font-family: 'EBI-Conceptual';
  font-size: 138.5%;
  content: attr(data-icon);
}
 i.icon-functional,
 input.icon-functional,
 .icon-functional:before {
  font-family: 'EBI-Functional';
  content: attr(data-icon);
}
/* .icon-static:before,*/ /* deprecated, included for back-compatibility */
 i.icon-generic,
 input.icon-generic,
 .icon-generic:before {
  font-family: 'EBI-Generic';
  content: attr(data-icon);
}
 i.icon-species,
 input.icon-species,
 .icon-species:before {
  font-family: 'EBI-Species';
  content: attr(data-icon);
}
 i.icon-socialmedia,
 input.icon-socialmedia,
 .icon-socialmedia:before {
  font-family: 'EBI-SocialMedia';
  content: attr(data-icon);
}
 i.icon-fileformats,
 input.icon-fileformats,
 .icon-fileformats:before {
  font-family: 'EBI-FileFormats';
  font-size: 123.1%;
  content: attr(data-icon);
}
 i.icon-chemistry,
 input.icon-chemistry,
 .icon-chemistry:before {
  font-family: 'EBI-Chemistry';
  content: attr(data-icon);
}

/* Custom colouring from some globally-used icons */
.icon-c1:before { color: #dac79d; }  /* DNA & RNA */
.icon-c2:before { color: #dab7e2; }  /* Gene expression */
.icon-c3:before { color: #62d0df; }  /* Proteins */
.icon-c4:before { color: #afc9b8; }  /* Structures */
.icon-c5:before { color: #ffb4aa; }  /* Systems */
.icon-c6:before { color: #ffc999; }  /* Chem bio */
.icon-c7:before { color: #bec3d9; }  /* Ontologies */
.icon-c8:before { color: #c5d4a3; }  /* Literature & patents */
.icon-c9:before { color: #a4c7e2; }  /* Cross-domain */
.icon-s1:before { color: #3b5998; }  /* Facebook */
.icon-s2:before { color: #55acee; }  /* Twitter */
.icon-s3:before { color: #007bb6; }  /* LinkedIn */
.icon-s4:before { color: #ff6600; }  /* Blogger */
.icon-s5:before { color: #a6c83f; }  /* Orcid */
.icon-s6:before { color: #dd4b39; }  /* Google+ */
.icon-s7:before { color: #bb0000; }  /* YouTube */
.icon-s8:before { color: #f40083; }  /* Flikr */
.icon-s9:before { color: #1ab7ea; }  /* Vimeo */
.icon-s10:before { color: #00bcf2; }  /* Windows */
.icon-s11:before { color: #f7941e; }  /* SlideShare */
.icon-s12:before { color: #21759b; }  /* Wordpress */
.icon-s13:before { color: #fa9b39; }  /* RSS */
