/*Entry page - md info next title*/
.md-hlight {
  display: block;
  overflow: auto;
}

.md-hlight h5 {
  color: #41647d;
}
.md-hlight a,
.md-hlight a:visited {
  color: #41647d;
}
/*/Entry page - md info next title*/
/*to move to interpro-new?*/
.first-letter-capital::first-letter {
  text-transform: capitalize;
}

.list-item {
  padding-left: 1.5em;
}
