/* overlapping entries Tree : to align exactly with title */
@import '../../../styles/colors.css';
@import '../../../styles/timing.css';

.list-items {
  padding-left: 1px;
}

.list-items:last-of-type {
  margin-bottom: 0.5rem;
}

.annotation.annotation > div {
  width: 100%;
  & button {
    margin-right: 1px;
  }
}
