.domains {
  font-size: 12px;
  font-family: sans-serif;
}
.protein rect {
  fill: rgb(70, 130, 160);
}
.protein rect:hover {
  fill: rgb(60, 120, 150);
}

.header-section {
  font-weight: bold;
  fill: rgb(102, 102, 102);
}
.entry > text {
  font-weight: 500;
  text-transform: uppercase;
}
.signature text {
  font-size: 0.9em;
  text-transform: uppercase;
}
.residue text {
  font-size: 0.7em;
  text-transform: uppercase;
}
.residues > rect,
.predictions > rect,
.features > rect {
  opacity: 0.6;
}

.entry:hover > text,
.signature:hover > text,
.residue:hover > text {
  font-weight: bold;
}
.entry-instance:hover > rect,
.signature:hover > rect {
  stroke: #5f5f5f;
  stroke-width: 1px;
}
.link {
  cursor: pointer;
}
div.buttons {
  font-size: 0.9em;
}
.select-inline {
  font-size: 0.9em;
  width: auto;
  padding-bottom: 0;
  border: 0;
  margin-bottom: 0;
}
.fullscreenable:-webkit-full-screen .fullscreen {
  display: none;
}
.fullscreenable:-webkit-full-screen {
  width: 100%;
}

.popper {
  position: absolute;
  background: white;
  color: black;
  min-width: 150px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
  margin: 3px;
}
.popper .popper__arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: white;
}

.popper[x-placement^='top'] .popper__arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^='bottom'] {
  margin-top: 5px;
}
.popper[x-placement^='bottom'] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^='right'] {
  margin-left: 5px;
}
.popper[x-placement^='right'] .popper__arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^='left'] {
  margin-right: 5px;
}
.popper[x-placement^='left'] .popper__arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
