@import '../../../styles/fonts.css';
@import '../../../styles/colors.css';

.domains {
  font-size: 14px;
}
.protein rect {
  fill: transparent;
}

.header-section {
  font-weight: bold;
  fill: var(--colors-dark);
  text-transform: capitalize;
  font-size: 130%;
  font-family: var(--fonts-system);
  font-weight: 300;
}
.entry > text {
  font-weight: 500;
  text-transform: uppercase;
}
.signature text {
  font-size: 0.8em;
  text-transform: uppercase;
}
.residue text {
  font-size: 0.7em;
  text-transform: uppercase;
}
.residues > rect,
.predictions > rect,
.features > rect {
  opacity: 0.6;
}

.entry:hover > text,
.signature:hover > text,
.residue:hover > text {
  font-weight: bold;
}

.residues .entry-instance > rect {
  stroke-width: 0;
}
.entry-instance > rect,
.signature-instance > rect,
.signature > rect {
  opacity: 0.7;
  stroke: #00000045;
  stroke-width: 2px;
}

.entry-instance:hover > rect,
.signature-instance:hover > rect,
.signature:hover > rect {
  opacity: 1;
}
.signature-match {
  stroke-dasharray: 3, 2;
} /*if we want signature blobs to be differenc*/

.entry-children-bg,
.signature-children-bg {
  fill: rgba(0, 0, 0, 0.1);
  transition: fill 0.2s ease-in-out;
}

.collapsed + .row .entry-children-bg {
  fill: transparent;
} /*remove bgd children when collapsed - otherwsie grey bar stays*/

/*top option*/
.view-options-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-options-title {
  font-size: 140%;
  font-family: var(--fonts-system);
}

@media screen and (max-width: 75rem) {
  .view-options-title {
    font-size: 1.23rem;
    font-weight: 500;
  }
}
.view-options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 90%;
}
.view-options select {
  font-size: 100%;
  padding: 0 1rem 0 0.5rem;
}

/*sequence viewer - right links*/
.link {
  cursor: pointer;
}
.link:hover {
  font-weight: bold;
  text-decoration: underline;
}

.select-inline,
.select-inline:focus {
  width: auto;
  padding-bottom: 0;
  border: 0;
  box-shadow: none;
  margin-bottom: 0;
}

.fullscreenable:-webkit-full-screen .fullscreen {
  display: none;
}

.fullscreenable:-webkit-full-screen {
  width: 100%;
}

.popper {
  position: absolute;
  background: white;
  color: black;
  min-width: 150px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: left;
  margin: 6px;
  border: 1px #dedede solid;
}
.popper .popper__arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: white;
}

.popper[x-placement^='top'] .popper__arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^='bottom'] {
  margin-top: 5px;
}
.popper[x-placement^='bottom'] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^='right'] {
  margin-left: 5px;
}
.popper[x-placement^='right'] .popper__arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^='left'] {
  margin-right: 5px;
}
.popper[x-placement^='left'] .popper__arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
