@import '../../../styles/colors.css';

.placeholder {
  color: var(--colors-lightgray);
}

.isoform-panel {
  background: var(--colors-almost-white);
}

header {
  & .key {
    font-size: 110%;
    font-weight: 600;
  }
  & .id {
    background: var(--colors-active-form);
  }
}
