@import '../../styles/fonts.css';
@import '../../styles/colors.css';

.controls {
  padding: 1ch;
  border: 1px solid gray;
  background: white;
  position: sticky;
  bottom: -1px; /* hide bottom border when sticky */
}

.input-group-field {
  height: 2.5rem;
  margin: 0;
}

.download-form {
  & section {
    margin-top: 2ch;
  }

  & h6 {
    font-weight: bold;
  }
}

input.invalid-accession,
input.invalid-accession:focus {
  background-color: var(--colors-alert-main);
}
