.go-list {
  font-size: 90%;
}

.go-list li:first-letter {
  text-transform: capitalize;
}

a.go-terms,
a.go-terms:visited,
a.go-terms:focus {
  color: #222;
  font-size: 0.9rem;
}

a.go-terms:hover {
  border-bottom: 1px #222 solid;
}

.bp {
  background-color: #058dc7;
}
.mf {
  background-color: #50b432;
}
.cc {
  background-color: #ed561b;
}

.go-title-bp,
.go-title-mf,
.go-title-cc {
  padding: 0.2rem 0.5rem;
  color: #4b555b;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.go-title-bp {
  background: #c2e6ec;
}
.go-title-mf {
  background: #e5f5d7;
}
.go-title-cc {
  background: #fbdcd0;
}
/*/entry page - go term etiquette*/
