.go-list {
  font-size: 90%;
}

.go-list li:first-letter {
  text-transform: capitalize;
}

a.go-terms,
a.go-terms:visited,
a.go-terms:focus {
  color: #222;
  font-size: 0.9rem;
}

a.go-terms:hover {
  border-bottom: 1px #222 solid;
}

.go-title {
  padding: 0.2rem 0.5rem;
  color: #4b555b;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
