.title {
  display: inline-block;
}

.go-list {
  font-size: 90%;
}

body a.go-terms,
body a.go-terms:visited,
body a.go-terms:focus {
  color: #222;
  font-size: 0.9rem;
}

body a.go-terms:hover {
  border-bottom: 1px #222 solid;
  text-decoration: none;
}

.go-title {
  padding: 0.2rem 0.5rem;
  color: #4b555b;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: inline-block;
  text-transform: capitalize;
}

.no-goterm {
  font-size: 90%;
  list-style: none;
  margin-left: -0.5rem; /*to be aligned if list removed*/
}

.bp {
  background: #c2e6ec;
}
.mf {
  background: #e5f5d7;
}
.cc {
  background: #fbdcd0;
}

.go-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

button.link {
  cursor: pointer;
  opacity: 0.7;
  padding: 1em 0;
  transition: all var(--timing-fast, 0.3s) ease;
  &:hover {
    opacity: 1;
    text-decoration: underline;
  }
}
