@import "../../../styles/colors.css";

body:global(.interpro) .highlight-toggler {
  padding: 0.1em;
  cursor: pointer;
  &:focus {
    border: 0;
    outline-width: 0;
  }
  &::before {
    background-color: var(--colors-graydark);
    color: var(--colors-nearly-white);
  }
  &.on::before {
    color: yellow;
  }
  &:hover::before {
    background-color: var(--colors-gray);
  }
}
