.new-tabs.main-style {
  border: 1px solid #e6e6e6;
  border-top-width: 0;
  border-right-width: 0;
  margin: 0;

  display: flex;
  list-style: none;

  & .tabs-title {
    margin-bottom: -1px;
    & > button,
    & > a {
      color: var(--colors-graydark);
      background: rgba(221, 221, 221, 0.54);
      border-top: rgba(221, 221, 221, 0.54) 3px solid;
    }
    & > button:hover,
    & > a:hover {
      opacity: 1;
      background: #ddd;
    }
    &:last-of-type {
      border-right: 1px #e6e6e6 solid;
    }
    &.is-active {
      & > a,
      & > a:focus,
      & > button,
      & > button:focus {
        border-top: #36aac0 3px solid;
        background: #fff;
        color: #222;
        outline: none;
      }
      & > button:hover {
        background: white;
      }
    }
    & a.is-active {
      border-top: #36aac0 3px solid;
      background: #fff;
      color: #222;
      outline: none;
    }
  }
}

.new-tabs {
  & .tabs-title {
    & > button,
    & > a {
      color: #0a0a0a;
      padding: 1.25rem 1.5rem;
      font-size: 0.75rem;
      line-height: 1;
    }
    & > button:hover,
    & > a:hover {
      opacity: 0.9;
      background: #ddd;
    }
    &.is-active {
      & > a,
      & > a:focus,
      & > button,
      & > button:focus {
        color: white;
        background: #666;
      }
      & > button:hover {
        background: #666;
      }
    }
  }
}

.tab-content {
  border: 1px solid #e6e6e6;
  border-top-width: 0;
  padding: 0.5rem;
}
