.tools-container {
  gap: 1rem;
  width: 100%;
  & > * {
    min-width: 270px;
    flex-grow: 1;
  }
  & .description {
    overflow: hidden;
    height: 6em;
  }
}
.image-tool-ipscan {
  background: #fff url("../../../images/cover/tool/tool_interproscan.svg")
    no-repeat 50% 26%;
  background-size: contain;

  background-color: #0d68a6;
}
.image-tool-api {
  background: #fff url("../../../images/cover/tool/tool_api.png") no-repeat 50%
    76%;
  background-size: 56%;
}
.image-tool-ida {
  background: #fff url("../../../images/cover/tool/tool_ida_100.png") no-repeat
    50% 76%;
  background-size: contain;
  background-color: #0d68a6;
}
.image-tool-textsearch {
  background: #fff url("../../../images/cover/tool/tool_textsearch.svg")
    no-repeat 50% 76%;
  background-size: 30%;
  background-color: #0d68a6;
}
.image-tool-protvista {
  background: #fff url("../../../images/cover/tool/tool_protvista.png")
    no-repeat 40% 14%;
  background-size: 268%;
}
.image-tool-ngl {
  background: #fff url("../../../images/cover/tool/tool_ngl.png") no-repeat 50%
    14%;
  background-size: 210%;
}

.button-nu {
  min-width: 25px;
  margin-right: 1rem;
  padding: 0;
  color: var(--colors-gray);
  font-size: 160%;
  &:hover {
    color: var(--colors-ebidark);
    text-decoration: none;
  }
}
