@import '../../styles/colors.css';
@import '../../styles/timing.css';

.search-adv {
  text-align: right;
}
.search-adv span {
  font-style: italic;
  font-size: 80%;
  color: var(--colors-gray);
  margin-right: 0.2rem; /*to align with border form*/
}

.neutral span {
  margin-left: 0.1rem;
  font-size: 90%;
} /*to align with border form*/

.search-input h3 {
  font-size: 150%;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 75rem) {
  .search-input h3 {
    font-size: 130%;
  }
}
.search-input-box {
  position: relative;
}

.search-input [type='text'] {
  height: 2.5rem; /*to match height with right-hand side search button*/
  margin-bottom: 0;
}

.close-icon {
  top: 20px;
  right: 0;
  position: absolute;

  &:after {
    content: 'X';
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 1;
    right: 6px;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    color: var(--colors-gray);
    font-weight: normal;
    cursor: pointer;
  }
}

.search-input input:invalid ~ .close-icon {
  display: none; /*hide the cross icon when no data entered*/
}

.action-row {
  margin-top: 1em;
}

.settings {
  opacity: 0.2;
  flex-direction: column;
  transition: opacity var(--timing-slow) ease-in-out var(--timing-really-slow);
}

.callout:hover .settings {
  opacity: 1;
  transition-duration: var(--timing-fast);
  transition-delay: 0s;
}

.visible-label {
  margin: 1ch;
}

.switch .switch-paddle {
  vertical-align: bottom;
}

.link-in-tooltip {
  &,
  &:visited {
    color: var(--colors-interpro);
  }
}
