@import "../../styles/colors.css";
@import "../../styles/spacing.css";

.tag {
  border-style: solid;
  border-width: 5px;
  color: var(--colors-nearly-white);
  border-radius: 5px;
  padding: 0 var(--spacing-small);
  margin-right: var(--spacing-small);
  user-select: none;
}

.family-tag {
  composes: tag;
  border-color: var(--colors-family);
  background-color: var(--colors-family);
}

.domain-tag {
  composes: tag;
  border-color: var(--colors-domain);
  background-color: var(--colors-domain);
}

.repeat-tag {
  composes: tag;
  border-color: var(--colors-repeat);
  background-color: var(--colors-repeat);
}

.site-tag {
  composes: tag;
  border-color: var(--colors-site);
  background-color: var(--colors-site);
}

.family-text {
  color: var(--colors-family);
}

.domain-text {
  color: var(--colors-domain);
}

.repeat-text {
  color: var(--colors-repeat);
}

.site-text {
  color: var(--colors-site);
}
