.box-add {
  border-left: 4px solid var(--colors-submain);
  padding: 0 1rem;
  height: max-content;
}
.box-add ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
}

.flex-box {
  text-align: center;
  padding: 2rem;
  flex: 1 0 48%;
  border: 1px solid var(--colors-vlightgray);
  border-radius: 4px;
  margin: 0.2em;

  & ul {
    list-style-type: none;
    margin: 0;
  }
}

@media screen and (min-width: 39.9375em) {
  .flex-box:first-of-type {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 39.9375em) {
  .flex-container {
    flex-direction: column;
  }
  .flex-box:first-of-type {
    margin-bottom: 1rem;
    margin-right: 0;
  }
}

.help-links {
  font-size: 25px;
  font-family: sans-serif;
}

.help-grid {
  column-gap: 0.5em;
  row-gap: 0.5em;
}

.help-flex {
  display: flex;
  gap: 3em;
}

.vf-grid > *:first-child {
  margin: 0.2em;
}
