@import '../../../styles/colors.css';
@import '../../../styles/timing.css';

.reference {
  padding-top: 0.2rem;
  text-indent: -1.6em;
  padding-left: 1.3rem;
}

.further .reference {
  text-indent: 0;
  padding-left: 0;
}

.reference span.journal {
  font-style: italic;
}

.reference .index {
  margin-right: 0.5ch;
  color: #9da0a4;
}

.reference span.volume {
}

.reference span.pages {
}

.reference .cite {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: #fbf8da;
    opacity: 0;
    transition: opacity var(--timing-slow) ease-in-out;
  }
}

.reference.target .cite::after {
  opacity: 1;
}

.reference.target .index {
  font-weight: bold;
  font-size: 110%;
}

.reference a {
  white-space: nowrap;
}

.list {
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 0;
  columns: 19em;
  column-gap: 2rem;

  &.single-entry {
    columns: unset;
  }

  & > * {
    break-inside: avoid;
  }
}
