@import '../../../styles/colors.css';
@import '../../../styles/timing.css';

.reference {
  padding-top: 0.2rem;
  text-indent: -1.6em;
  padding-left: 1.3rem;
}

.further .reference {
  text-indent: 0;
  padding-left: 0;
}

.reference span.title {
  font-style: italic;
}
.reference span.index {
  padding-left: 0em;
  color: #9da0a4;
}

.reference:target .cite {
  background-color: #fbf8da;
  transition: background-color var(--timing-slow) ease-in-out;
}

.reference:target span.index {
  font-weight: bold;
  font-size: 110%;
}

.reference a:not([href*='localhost']) {
  white-space: nowrap;
}
.ext::before {
  font-family: 'EBI-Generic';
  content: 'x';
  font-size: 80%;
  margin: 0 0.1rem 0 0;
  /*content: ' \21AA ';*/
}

.list {
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 0;
  columns: 19em;
  column-gap: 2rem;

  @nest & > * {
    break-inside: avoid;
  }
}
