/*.flex-columns {display: flex; flex-wrap: wrap; list-style-type: none;}*/
/*.flex-columns li {width:23%; padding: 1rem 2rem;flex-grow: 1; }*/
/*.flex-columns interpro-type {font-size:274%; padding: 0 1rem 0 0; float:left; line-height: 0;}*/

.flex-grid {
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}
.flex-grid interpro-type {
  font-size: 274%;
  padding: 0 1rem 0 0;
  float: left;
  line-height: 0;
}
