@import '../../styles/colors.css';
@import '../../styles/spacing.css';
@import '../../styles/timing.css';

.list {
  padding: 0;
  list-style: none;

  @nest & > li {
    margin-bottom: var(--spacing-medium);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.icon-export {
  font-size: 1em;
  color: var(--colors-graydark);
  padding: 0.3rem 1rem;
}

.svgContainer {
  /*margin: var(--spacing-small) 0 var(--spacing-small)*/
  /*calc(-1 * var(--spacing-big));*/
  height: 46px;
  /*overflow-y: hidden;*/
  /*overflow-x: auto;*/
  /*user-select: none;*/
  /*cursor: default;*/
  /*padding: 0 1em 0 1em;*/
}

.svg {
  height: 100%;
  width: 100%;
  overflow: visible;

  &:hover text {
    opacity: 1;
  }

  @nest & text {
    opacity: 0.2;
    transition: opacity var(--timing-fast) ease-out;
    fill: var(--colors-gray);
    font-size: 0.8em;
  }
}

.primary {
  fill: lightgray;
}

.secondary {
  opacity: 0.6;
  transform-origin: center;
  transition-property: opacity, transform;
  transition-duration: var(--timing-fast);
  transition-timing-function: ease-out;

  &:hover {
    opacity: 0.9;
    transform: scaleY(1.2);
  }
}

.acc-row {
  display: flex;
  font-size: 0.8rem;
}

.matchColumn {
  min-width: 200px;
}
.exact {
  background-color: var(--colors-marktext);
}

.exporter-link a {
  display: flex;
  align-items: center;
  padding: 0.3rem 1rem;
  & span.file-label {
    min-width: 10em;
    color: var(--colors-gray);
  }
}

.actions {
  display: flex;
  justify-content: center;
}

.view-icon-div {
  margin: 0.2rem 0;
  padding: 0.2em 0;
}

.view-link {
  font-size: 160%;
  border: none;
  padding: 0.3em;
}

.icon-count-organisms {
  height: 3em; /*to align icon*/
  width: 30px;
  background-image: url('../../images/icons/ico-species.svg');
  background-position-y: 59%;
  background-repeat: no-repeat;
}
