@import '../../styles/colors.css';
@import '../../styles/spacing.css';
@import '../../styles/timing.css';

.list {
  padding: 0;
  list-style: none;

  @nest & > li {
    margin-bottom: var(--spacing-medium);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.svgContainer {
  margin: var(--spacing-small) 0 var(--spacing-small)
    calc(-1 * var(--spacing-big));
  height: 60px;
  overflow-y: hidden;
  overflow-x: auto;
  user-select: none;
  cursor: default;
  padding: 0 1em 0 1em;
}

.svg {
  height: 100%;
  width: 100%;
  overflow: visible;

  &:hover text {
    opacity: 1;
  }

  @nest & text {
    opacity: 0.2;
    transition: opacity var(--timing-fast) ease-out;
    fill: var(--colors-gray);
    font-size: 0.8em;
  }
}

.primary {
  fill: lightgray;
}

.secondary {
  opacity: 0.6;
  transform-origin: center;
  transition-property: opacity, transform;
  transition-duration: var(--timing-fast);
  transition-timing-function: ease-out;

  &:hover {
    opacity: 0.9;
    transform: scaleY(1.2);
  }
}

.acc-row {
  font-size: 0.8rem;
}
