.version-block {
  display: flex;
  justify-content: space-between;
  & .version-info {
    font-size: 0.8em;
    & header {
      font-weight: bold;
    }
    & .version-date {
      margin-top: -0.5em;
    }
  }
}
