/* grid not yet working with IE11*/
@import "../../../styles/colors.css";

.flex-grid {
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.image-webinar-interpro {
  background: url("../../../images/cover/tuto/webinar_interpro.png") no-repeat
    88% 46%;
  background-size: 100%;
}

.image-webinar-web {
  background: url("../../../images/cover/blog/blog_newinterpro.png") no-repeat
    88% 46%;
  background-size: 100%;
}

.image-webinar-api {
  background: url("../../../images/cover/tool/tool_api.png") no-repeat 80% 39%;
  background-size: 85%;
}

.image-webinar-ipscan {
  background: url("../../../images/cover/tool/tool_interproscan.svg") no-repeat
    60% 20%;
  background-size: 120%;
  background-color: #f0ffff;
}

.box-add {
  border-left: 4px solid var(--colors-submain);
  padding: 0 1rem;
}
.box-add ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}
