@import '../../../styles/colors.css';

.search-terms-div {
  display: flex;
  padding: 0.5em 0;
  flex-wrap: wrap;

  & .search-term {
    background: var(--colors-tag);
    margin: 0.5em 0 0 0.5em;
    display: flex;

    & .remove-term {
      color: var(--colors-very-white);
      &:hover {
        color: white;
      }
    }

    & .search-link {
      padding-left: 1em;
      color: var(--colors-nearly-white);
      &:hover {
        color: var(--colors-almost-white);
        text-decoration: underline;
      }
    }
  }
}

/* .search-term {
  float: left;
  margin: 0.5rem 0 0 1rem;
  font-size: 120%;
  background: #c3f1c3;
  border-radius: 0.2em;
}

.search-term span {
  color: #444;
  padding: 0.2rem 0.5rem;
}

button.close {
  background: transparent;
  font-size: 0.7em;
  float: right;
}

.clear-history {
  margin: 1rem 0 0 1rem;
} */
