.is-drilldown-submenu {
  margin:0;
  height: 100%;
  display: block;
  z-index: 1;
  background: #4b4b4b;
  transition: transform 0.3s ease-in-out;
}

.js-drilldown-back {
  background: #444444;
  border-bottom: none;
  border-top: 1px solid #5e5e5e;
}
