@import '../../../styles/colors.css';

.fieldset label {
  display: inline-block;
  margin-right: 2em;

  &.input-group {
    display: table;

    & > input {
      margin-bottom: 0;
    }
  }
}

.stay-checkbox {
  color: var(--colors-dark);
  margin-bottom: 1em;

  & > .switch {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1ch 0 0;
  }
}
