@import '../../../styles/colors.css';

.details {
  margin-bottom: 0.5em;

  & > summary {
    cursor: pointer;
    outline: 0;
  }
}

.fieldset label {
  display: inline-block;
  margin-right: 2em;

  &.input-group {
    display: table;
  }
}

.stay-checkbox {
  color: var(--colors-dark);
  margin-bottom: 1em;

  & > .switch {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1ch 0 0;
  }
}
