/*reduce line-height for smaller row in the table */
.no-lineheight {
  line-height: 0.1;
}

.md-small {
  width: 40px;
  height: 40px; /*for IE11*/
}

.ico-rel {
  width: 8px;
  height: 8px;
  background: url(../../images/icons/ico-tree-relationship-sq.svg) no-repeat;
  background-size: 100%;
  display: inline-block;
  margin-right: 0.5rem;
}
