@import '../../styles/colors.css';

table.classic {
  font-size: 0.9rem;
  & thead th {
    border: 1px solid var(--colors-vlightgray);
    background: var(--colors-very-white);
  }
  & tr td {
    border: 1px solid var(--colors-very-white);
  }
  & tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

table.classic tbody tr:nth-child(even) {
  background-color: var(--colors-nearly-white);
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
