.flex-grid {
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
}

.publication .card-label {
  background-color: #5daace;
  opacity: 0.7;
  transition: opacity var(--timing-really-fast) ease-out;
}

.publication .card-info > div {
  margin-right: 0;
}

/*to keep*/
.tuto-beyond .card-image {
  background: url(../../../images/cover/cover_journal_nucleicacidsresearch.png)
    no-repeat no-repeat 60% 60%;
  background-size: 100%;
}
.tuto-go .card-image {
  background: url(../../../images/cover/cover_journal_database.png) no-repeat
    50% 90%;
  background-size: 100%;
}
.tuto-interproscan .card-image {
  background: url(../../../images/cover/cover_journal_bioinformatics.png)
    no-repeat 50% 90%;
  background-size: 100%;
}
