/* grid not yet working with IE11*/
.flex-grid {
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
}

.card-image.tuto-beyond {
  background: url('../../../images/cover/publi/journal_nucleicacidsresearch.png')
    no-repeat no-repeat 60% 60%;
  background-size: 100%;
}

.card-image.tuto-go {
  background: url('../../../images/cover/publi/journal_database.png') no-repeat
    50% 90%;
  background-size: 100%;
}

.card-image.tuto-interproscan {
  background: url('../../../images/cover/publi/journal_bioinformatics.png')
    no-repeat 50% 90%;
  background-size: 100%;
}
