/* to replace this by official NAR cover when available */
.image-nar-default {
  /*background: url('../../../images/cover/publi/journal_nar_default.svg') no-repeat -19% 30%;*/
  background: url('../../../images/cover/publi/NAR_2018_Figure_01.svg')
    no-repeat 10% 100%;
  background-size: 190%;
}

.image-tuto-beyond {
  background: url('../../../images/cover/publi/journal_nucleicacidsresearch.png')
    no-repeat 60% 60%;
  background-size: 110%;
}

.image-tuto-go {
  background: url('../../../images/cover/publi/journal_database.png') no-repeat
    50% 90%;
  background-size: 100%;
}

.image-tuto-ipscan {
  background: url('../../../images/cover/publi/journal_bioinformatics.png')
    no-repeat 50% 90%;
  background-size: 100%;
}
