.wrapper {
  display: grid;
  grid-gap: 0.5rem; /* was .8rem*/
  grid-template-columns: 1fr;
}

.wrapper.grid-2col {
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

body .feat-entry-list a,
body .feat-entry-list a:visited {
  color: #0a0a0a;
}
