.card-wrapper {
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}

.card-flex-container {
  padding: 1rem;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  transition: all 0.2s ease-out;
  color: #606060;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Roboto, Arial,
    sans-serif;
  position: relative; /*for options*/
}

.card-flex-container:last-child {
  margin-bottom: 0.8rem;
} /*extra space before more button*/

.name-ac {
  display: none;
}

.card-shrink .card-header .name-ac {
  display: block;
}

.card-shrink.card-flex-container {
  padding: 0.5rem 1rem;
}
.card-shrink .card-block {
  margin-bottom: 0;
}
.card-shrink .card-footer {
  display: none;
}

.card-flex-container:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.card-options {
  font-size: 130%;
  margin-top: 0.2rem;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.card-options .icon {
  opacity: 0.3;
  margin-right: 0.2rem;
}

.card-options .icon:hover {
  opacity: 0.6;
}

.card-options div:last-of-type {
  margin-right: 0.5rem;
}

.card-options a,
.card-options a:visited,
.card-options a:hover {
  color: #333;
}

.card-flex-container:hover .card-options {
  /*opacity: 1;*/
  display: none; /*keep the option hidden while waiting for implementation*/
}

.card-options div:first-of-type > a {
  font-size: 90%;
} /*smaller icon for the plus*/

.card-header > a {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header > a div:first-of-type {
  margin-right: 1rem;
  line-height: 0;
}

.card-header > a div:nth-of-type(2) {
  flex-grow: 1;
  border: 0px black solid;
}

.card-header .card-title {
  font-weight: 600;
  /*font-weight: 300;*/
  line-height: 1.1;
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Roboto, Arial,
    sans-serif;
  font-size: 100%;
  margin-bottom: 0;
  border-bottom: 2px white solid;
  padding-bottom: 2px;
  transition: border 0.3s ease-in-out;
}

.card-header .card-title:hover {
  border-bottom: 2px #4e4e4e solid;
  padding-bottom: 2px;
}

.card-wrapper.grid-2col {
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.grid-2col .card-header h6 {
  width: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-header .name-ac {
  color: #9f9f9f;
  margin-left: 0.5rem;
  font-size: 80%;
}

.card-block {
  font-size: 15px;
  margin-bottom: 0.5rem;
}

.count-4 {
  display: flex;
  align-items: center;
  width: 25%;
}

.card-counter {
  color: #333;
  /*margin-bottom: 0;*/
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.card-counter a,
.card-counter a:visited,
.card-counter a:hover {
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-counter .icon-conceptual::before {
  font-size: 210%;
}

.card-counter .icon-generic::before {
  font-size: 140%;
}

.label-h .icon {
  margin: 0 0.5rem;
}
.card-counter.label-h a {
  flex-direction: row;
}
.card-counter.label-h .no-link {
  flex-direction: row;
}
.icon-count-signatures {
  margin-top: 3px;
}

.icon-count-ida {
  height: 3em;
  width: 38px;
  background-image: url('../../../images/icons/ico-ida.svg');
  background-position-y: 59%;
  background-repeat: no-repeat;
}

.icon-count-set {
  height: 3em;
  width: 26px;
  background-image: url('../../../images/icons/ico-set.svg');
  background-size: 100%;
  background-position-y: 59%;
  background-repeat: no-repeat;
}

.icon-count-organisms {
  height: 3em; /*to align icon*/
  width: 30px;
  background-image: url('../../../images/icons/ico-species.svg');
  background-position-y: 59%;
  background-repeat: no-repeat;
  margin: 0.5rem;
}

.icon-count-go {
  margin: 0.5rem;
  font-weight: 400;
  font-size: 140%;
}

.icon-count-go::before {
  content: 'G';
}
.icon-count-go::after {
  content: 'O';
  margin-left: -3px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 80%;
}

.card-footer > div:first-child {
  flex-grow: 1;
}
.card-footer > div:last-child {
  text-align: right;
} /*tax ID*/

.label-off .label-number {
  display: none;
}

.list-item interpro-type {
  margin-right: 0.5ch;
  padding-top: 4px;
  float: left;
}

.feat-entry-list a {
  color: #0a0a0a;
}

.feat-entry-list .md-small {
  width: 36px;
}
