@import './spacing.css';
@import './z-index.css';

.card {
  position: relative;
  display: block;
  z-index: var(--z-index-deepest);
  margin: var(--spacing-medium);
  padding: var(--spacing-big);
  background-color: white;
}

.grid {
  max-width: 2000px;
  margin: 0 auto;

  & > * {
    margin: 0 var(--spacing-medium);
    display: flex;

    & > * {
      flex: 1;
    }
  }
}
