@import "./spacing.css";
@import "./z-index.css";

.card {
  position: relative;
  display: block;
  z-index: var(--z-index-deepest);
  margin: var(--spacing-medium);
  padding: var(--spacing-big);
  background-color: white;
}

.grid {
  max-width: 2000px;
  margin: 0 auto;

  & > * {
    margin: 0 var(--spacing-medium);
    display: flex;

    & > * {
      flex: 1;
    }
  }
}

.simple-box {
  position: relative;
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(10, 10, 10, 0.25);
  border-radius: 0;
  background-color: var(--colors-nearly-white);
  color: #0a0a0a;
}
