:root {
  /*GAL*/
  --colors-main: #007c82;
  --colors-submain: #1779ba;
  --colors-nearly-white: #eee;
  --colors-nearly-black: #222;
  --colors-ebidark: #333;
  --colors-dark: #4b4b4b;
  --colors-graydark: #676767;
  --colors-gray: #888;
  --colors-lightgray: #9f9f9f;
  --colors-loading-bar: #77b6ff;
  --colors-tag: #1878ba; /*or marroon #e0d6a5 lightblue:#b6ced5*/
  --colors-marktext: #fcf655;
  --colors-alert-box: #ff918e;
  --colors-alert-txt: tomato;
  /*ENTRY*/
  --colors-family: #fe3600;
  --colors-domain: #59d417;
  --colors-repeat: #ff9000;
  --colors-site: #ce70e2;
  --colors-progress: #d4dee5;
  /*DB*/
  --colors-interpro: #2daec1;
  --colors-gene3d: #a88cc3;
  --colors-cdd: #addc58;
  --colors-hamap: #2cd6d6;
  --colors-modi: #d6dc94;
  --colors-panther: #bfac92;
  --colors-pfam: #6287b1; /*was v1 #9bbbe0*/
  --colors-pirsf: #fbbddd; /*was v2 #dfafdf v1 #e299e2*/
  --colors-prints: #54c75f; /*#71ce79*/
  --colors-prodom: #8d99e4;
  --colors-profile: #f69f74;
  --colors-prosite: #f3c766;
  --colors-sfld: #00b1d3;
  --colors-smart: #ff8d8d; /*more saturated #ff7a76*/
  --colors-ssf: #686868;
  --colors-tigrfams: #56b9a6; /*was v2 4f9294 - v1 #b37977;*/
  /*TYPE*/
  --colors-family-main: #ec7865;
  --colors-family-sub: #f4cdc7;
  --colors-domain-main: #70c770;
  --colors-domain-sub: #ceefd2;
  --colors-site-main: #d09ad0;
  --colors-site-sub: #efd0ef;
  --colors-repeat-main: #ffb27f;
  --colors-repeat-sub: #f6dbca;
  --colors-homolog-main: #6caed4;
  --colors-homolog-sub: #bbdef3;
  --colors-unknown-main: #737373;
  --colors-unknown-sub: #dedede;
  --colors-other-main: #b5d7ef; /*more neutral c5d7db more color: 99dae8*/
  --colors-other-sub: #92c7ea;
  --colors-md-main: #b9d7ef;
}
