@import url('https://fonts.googleapis.com/css?family=Quicksand|Montserrat:700');

:root {
  --fonts-entrytype: 'Montserrat', Arial, sans-serif;
  --fonts-header: 'Quicksand', sans-serif;
  --fonts-mono: 'Lucida Console', Monaco, monospace;
  --fonts-mono-alt: 'Courier New', monospace;
}
