.icon-type {
  color: white;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
}

.icon-family {
  background-color: var(--colors-family-main);
}

.icon-domain {
  background-color: var(--colors-domain-main);
}

.icon-site {
  background-color: var(--colors-site-main);
}

.icon-repeat {
  background-color: var(--colors-repeat-main);
}

.icon-hh {
  background-color: var(--colors-homolog-main);
}

/*SP is that still needed ?*/
.icon {
  display: inline-block;
}

/*I5 result page icons*/
.ico-confirmed::before {
  color: var(--colors-check);
}

.ico-neutral::before {
  color: var(--colors-all);
}

.ico-neutral:hover::before {
  opacity: 1;
  color: var(--colors-black);
}

.ico-notfound::before {
  color: var(--colors-alert-main);
}
/*/I5 result page icons*/

/*lineage*/
.ico-primary ::before {
  color: var(--colors-submain);
}
