@import '../styles/colors.css';
/******************************Override EBI  global***************************/
/*to include more systems fonts for windows machines*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Roboto, Arial,
    sans-serif;
}

/*STYLE - remove the dotted line for links to make the page look better but add the enmphasis on mouse over*/
a,
a:visited {
  border-bottom-width: 0;
}

/*add some space on top between banner and breadcrumb - should be in EBI-GLobal*/
main a,
main a:visited,
main a:focus {
  color: rgb(0, 112, 187);
}

/*add some space on top between banner and breadcrumb - remove padding bottom to have thetwitter component stick to footer not needed anymore?*/
main {
  padding-top: 1rem;
}

/*Active tab - active is used on li element in ebi css*/
.masthead .menu .active {
  color: #0a0a0a;
  background: #fff;
}

/*remove border for menu items overide ebi-global - can't be component specific as defined from .masthead */
.masthead nav ul.menu li {
  border-right-width: 0;
}

/*remove floating as we are using display: table */
.masthead nav ul.menu li {
  float: none;
}

/*remove top-right button - temp while EBI fixing the hscrollbar issue*/
@media screen and (max-width: 53em) {
  .embl-selector .button {
    display: none;
  }
}
/*override EBI foundation css that overrides foundation*/
.fieldset {
  border: 1px solid #cacaca;
}
[type='text'] {
  border: 1px solid #cacaca;
}
input::placeholder,
textarea::placeholder {
  color: #cacaca;
}

/*missing in custom foundation.EBI.css - TEMP ?*/
.tabs-panel.is-active {
  display: block;
}

button {
  cursor: pointer;
} /*used for tabs*/

div#local-title {
  min-height: 116px;
} /*if you use subtitles that disappear on small screen we need a min-height for very small screens*/

/****************************** END Override EBI  global**********************/

/******************************Local style***************************************/

/*CALLOUT ALERT WARNING MESSAGE - missing in foundation*/
.callout.alert.withicon::before {
  content: 'l';
  font-family: 'EBI-Generic';
  color: #d1847f;
  margin-right: 0.5rem;
}
.callout.info {
  background-color: #c6e9ff;
  color: #222;
}
.callout.info.withicon::before {
  content: 'i';
  font-family: 'EBI-Generic';
  color: #7fb0d1;
  margin-right: 0.5rem;
}

/*BUTTONS to include in theme-interpro?*/

.button.hollow.tertiary {
  border: 1px solid #2daec1;
  color: #2daec1;
}
.button.hollow.tertiary:hover {
  border: 1px solid #3798a7;
  color: #3798a7;
}

/*ICONS*/
/*MEMBER DATABASE SVG icons*/
.svg-mask {
  display: none;
}
.md-color,
.md-server {
  fill: #e2e2e2;
  font-size: 9em;
  font-family: 'EBI-generic', arial, sans-serif;
}
.md-cg .md-color {
  fill: var(--colors-gene3d);
}
.md-cd .md-color {
  fill: var(--colors-cdd);
}
.md-ha .md-color {
  fill: var(--colors-hamap);
}
.md-mo .md-color {
  fill: var(--colors-modi);
}
.md-pa .md-color {
  fill: var(--colors-panther);
}
.md-pf .md-color {
  fill: var(--colors-pfam);
}
.md-pi .md-color {
  fill: var(--colors-pirsf);
}
.md-pri .md-color {
  fill: var(--colors-prints);
}
.md-pro .md-color {
  fill: var(--colors-prodom);
}
.md-prpro .md-color,
.md-pr .md-color {
  fill: var(--colors-profile);
}
.md-prpat .md-color {
  fill: var(--colors-prosite); /*was 8899a6*/
}
.md-sf .md-color {
  fill: var(--colors-sfld);
}
.md-sm .md-color {
  fill: var(--colors-smart);
}
.md-su .md-color {
  fill: var(--colors-ssf);
}
.md-ti .md-color {
  fill: var(--colors-tigrfams);
}
/*/MEMBER DATABASE SVG icons*/

/*SVG icons*/
.icon {
  display: inline-block;
  vertical-align: middle;
}
/*/MEMBER DATABASE icons*/
/*ICONS*/
/*.nav-toggle {position: absolute; top: 28px;  right: 55px;}*/
/*.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after { cursor: pointer; border-radius: 1px; height: 5px; width: 35px;  background: white;  position: absolute; display: block; content: '';*/
/*}*/
/*.nav-toggle span:before {top: -10px;}*/
/*.nav-toggle span:after {bottom: -10px;}*/
/*.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {*/
/*transition: all 500ms ease-in-out;*/
/*}*/
/*.nav-toggle.active span {*/
/*background-color: transparent;*/
/*}*/
/*.nav-toggle.active span:before, .nav-toggle.active span:after {*/
/*top: 0;*/
/*}*/
/*.nav-toggle.active span:before {*/
/*transform: rotate(45deg);*/
/*}*/
/*.nav-toggle.active span:after {*/
/*transform: rotate(-45deg);*/
/*}*/

/******************************BANNER*********************************/
.masthead h1 span {
  font-size: 41%;
}

/*************************
*cross components features*
**************************/
.browse-by .button,
.stat-by .button {
  margin: 0;
}

/***** LOCAL BUTTONS  + LINKS*****/
.local-site-search .icon-functional:before,
.local-offcanvas-menu .icon-functional:before {
  font-size: 2.5em;
}
html.fontface .local-site-search .icon-functional:before,
.local-offcanvas-menu .icon-functional:before {
  padding-right: 0;
} /*solve a bug with search icon moving on two lines on firefox*/
.local-site-search .button,
.local-offcanvas-menu .button,
.local-site-search .button:hover,
.local-offcanvas-menu .button:hover {
  background-color: transparent;
} /*we don't want bgd for those buttons*/
.local-site-search {
  position: absolute;
  top: 118px;
  right: 10px;
} /*let the text field appear with no size problem*/
.local-offcanvas-menu {
  position: absolute;
  top: 68px;
  right: 10px;
}
/*.local-offcanvas-menu .button {margin:0;} is it still used?*/
/*Menu - not used anymore in the new way to interact with offcanvas*/
/*.main-header .local-offcanvas-menu .close-menu {display: none;}!*switch between open/close text*!*/
/*.offc-nav.expand ~ .main-header .local-offcanvas-menu .close-menu {display: block;}!*switch between open/close text*!*/
/*.offc-nav.expand ~ .main-header .local-offcanvas-menu .open-menu {display: none;}!*switch between open/close text*!*/
/*Search*/
.local-site-search .search-box {
  width: 70%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
  display: block;
  float: right;
  padding: 0; /*background-color: rgba(255, 255, 255, 0.07);*/
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  outline: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
}
.local-site-search .button {
  float: right;
} /*important to keep for the smooth effect moving left the magnifying icon next to input field*/
.local-site-search [type='text']:focus {
  border-bottom: 3px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}
.local-site-search:hover .tool-search .search-box,
.search-box:focus {
  transform: scaleX(1);
}
.local-site-search:hover ::placeholder {
  opacity: 1;
}
input:focus::placeholder {
  color: transparent;
}

a:hover.noline {
  border-bottom: 0 solid transparent;
}
/*****LOCAL BUTTONS + LINKS ***/

/* MENU*/
.horizontal.menu > li > a {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: transparent;
} /* CROSS ICON PBM - to make all menu items same height*/

.badge {
  background: rgba(0, 0, 0, 0.23);
  border-radius: 1em;
  padding: 0.5em;
  font-weight: normal; /*avoid bold on badge when activated*/
}
.entry-menu-medium-step-01,
.entry-menu-medium-step-02,
.entry-menu-medium-step-03,
.main-menu-all {
  display: none;
} /*hide different menu version collapsed*/

.masthead nav ul.dropdown.menu.float-left li a:hover:after {
  display: none;
  border-bottom: 3px;
} /*important for collapse button remove foundation "bar" after that bug and makes the elements move*/ /*remove extra space that makes the banner move just for small screen*/

/*dropdown menu style - button collapse*/
.masthead ul.submenu li a:hover {
  background-color: #85b6d3; /*was 79b4d4*/
  color: white;
}

/*RD - Breakpoints for menu to collapse into dropdown*/
/*large*/
@media screen and (min-width: 1296px) {
  .main-menu-all {
    display: block;
  }
}
/*medium large*/
@media screen and (min-width: 1236px) and (max-width: 1295.9375px) {
  .entry-menu-medium-step-01 {
    display: block;
  }
}
/*medium*/
@media screen and (min-width: 916px) and (max-width: 1235.9375px) {
  .entry-menu-medium-step-02 {
    display: block;
  }
}
/*small medium*/
@media screen and (min-width: 40em) and (max-width: 915.9375px) {
  .entry-menu-medium-step-03 {
    display: block;
  }
}
/*/RD - Breakpoints for menu to collapse into dropdown*/
/************************ END BANNER**********************************/

/************************ STICKY BANNER**********************************/
.smaller {
  z-index: 1;
  left: 0;
  position: fixed;
  margin-top: -10.5em !important;
}
.smaller h4 {
  transform: translate(156px, 32px);
  font-size: 133%;
} /*transform tagline*/
.smaller .local-site-search {
  top: 164px;
  right: 72px;
} /*move icon on right*/
.smaller .local-offcanvas-menu {
  top: 164px;
} /*move icon on right*/
.smaller .local-site-search .icon-functional:before,
.smaller .local-offcanvas-menu .icon-functional:before {
  font-size: 30px;
} /*icon size and position*/

/*Foundation sticky*/
/*transform logo*/
.masthead.is-stuck h1 {
  transform: scale(0.6) translate(-350px, 131px);
}

/*transform tagline*/
.masthead.is-stuck h4 {
  transform: scale(0.8) translate(96px, 24px);
}
/*/Foundation sticky*/
/************************ END STICKY BANNER**********************************/

/*Overwritting Foundation*/
h1 small,
h2 small,
h3 small,
h4 small {
  color: #bbb;
}
h5 small,
h6 small {
  color: #8b8b8b;
} /*style-darker*/
.label {
  white-space: inherit;
} /*labels for go terms were long and clashing with grid*/
/*.has-tip {border-bottom-width: 0px;} not needed  anymore for go terms?*/
.masthead h1 small,
.masthead h2 small,
.masthead h3 small,
.masthead h4 small,
.masthead h5 small,
.masthead h6 small {
  color: #cacaca;
} /*style - banner subtitle*/
.masthead.md h4 small {
  color: #416b80;
} /*specific to md */
.masthead.md-smart h4 small {
  color: #a2d7b9;
}
/*/Overwritting Foundation*/

/****************************** RIGHT PANEL *********************************/
.panel a {
  color: #4c4c4c;
  padding-left: 3px;
} /*neutral link same as font-color*/
.panel a:hover {
  color: #4c4c4c;
}
.panel a span {
  color: #bbb;
  font-size: 79%;
}

.panel .mdlink {
  background: #dde4e9;
  border-left: 5px solid #558abb;
  color: #4d4e53;
  padding: 15px;
}

ul.chevron li {
  list-style: none;
}

ul.chevron {
  margin-left: 0;
}

ul.chevron > li:before {
  content: '';
  display: inline-block;
  height: 1em;
  background-image: url(../images/chevron.svg);
  background-repeat: no-repeat;
  padding-left: 1em;
  position: relative;
  top: 3px;
}
/****************************** END RIGHT PANEL *****************************/

/****************************** TABLE *********************************/
/*Filter menu option*/
.sub-nav {
  background-color: #e7f2ff;
  padding: 0.2rem 0.2rem 0.2rem 0;
  margin-bottom: 1rem;
}
.sub-nav li {
  color: #686868;
  font-size: 0.77778rem;
  padding-left: 0.88889rem;
}
#content .sub-nav li.active a {
  border-radius: 3px;
  color: #fff;
  cursor: default;
  font-weight: normal;
  padding: 0.16667rem 0.88889rem;
}
#content .sub-nav a {
  border-bottom: 0px solid red;
}
/*/filter menu option*/
/****************************** END TABLE *********************************/

/******************************LOCAL STYLE*********************************/
/*TABS - home*/
.tabs .tabs-title.is-active {
  & > a,
  & > a:focus,
  & > button,
  & > button:focus {
    color: white;
    background: #666;
  }
}

.tabs .tabs-title {
  & > button,
  & > a {
    color: #0a0a0a;
    padding: 1.25rem 1.5rem;
    font-size: 0.75rem;
    line-height: 1;
  }

  & > button:hover,
  & > a:hover {
    opacity: 0.9;
    background: #ddd;
  }
}
/*important to keep otherwise become light grey like other tabs */
.tabs .tabs-title.is-active {
  & > button:hover {
    background: #666;
  }
}

/*TABS - search page*/
.tabs .tabs-title a.is-active {
  color: white;
  background: #666;
}

/*footer*/
.local_footer {
  padding: 1rem 0;
}
.local_footer ul.off-canvas-list {
  background-color: transparent;
}
.local_footer ul.off-canvas-list label {
  background-color: transparent;
  color: #baf7d5;
  font-size: 0.9rem;
  border-top: 0px solid white;
}
.local_footer.masthead ul.off-canvas-list a:visited.active {
  color: rgba(68, 68, 68, 0.6);
}
.local_footer.masthead img.logo_faint {
  margin-left: 0;
  margin-right: 0;
  width: 170px;
  opacity: 0.4;
}
.local_footer.masthead h1 {
  color: black;
  opacity: 0.4;
}
.local_footer .is-drilldown-submenu {
  background-color: #509394;
}
.local_footer.masthead {
  background-size: 130%, 110%;
}
/*Entry page - md info next title*/
.md-hlight {
  display: block;
  overflow: auto;
}
.md-hlight div {
  float: left;
}
.md-hlight h5 {
  color: #41647d;
}
.md-hlight a,
.md-hlight a:visited {
  color: #41647d;
}
/*/Entry page - md info next title*/

/*homepage components gal*/
.go-list {
  font-size: 80%;
}
/*/homepage components gal*/

/*homepage Go list component*/
.go-list span.bullet-icon {
  font-size: 520%;
  line-height: 0.5;
}

/*back to top button*/
#back-top {
  position: fixed;
  bottom: 0;
  right: 19px;
  z-index: 100;
}
#back-top span.topicon {
  font-size: 1.5em;
  color: white;
  opacity: 0.18;
  background-color: black;
  padding: 6px 7px;
}
#back-top:hover span.topicon {
  opacity: 0.4;
}
#back-top a:hover,
#back-top a:focus,
#back-top a:active {
  border-bottom: 0px solid #8c8c8c;
}
#back-top span.text {
  opacity: 0;
  color: grey;
  font-size: 0.8em;
}
#back-top:hover span.text {
  opacity: 1;
}
#back-top:hover {
  padding-bottom: 14px;
}
/*/back to top button*/

/*RESPONSIVE DESIGN*/

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
}

/* Small screen only */
@media screen and (max-width: 39.9375em) {
  /*reduce bgd image*/
  .masthead {
    background-size: 100%, 600px;
  }

  .local-site-search .icon-functional:before,
  .local-offcanvas-menu .icon-functional:before {
    font-size: 30px;
  } /*icon size and position*/
  .local-site-search:hover .tool-search .search-box,
  .search-box:focus {
    width: 50%;
  } /*reduce width input*/
  .offc-nav {
    width: 12rem;
  } /*reduce width off-canvas menu*/
  .my-svg-container {
    width: 36%;
    float: none;
    margin: 0 auto;
  }
}

@media screen and (max-width: 20em) {
  .local-offcanvas-menu,
  .local-site-search {
    opacity: 0;
  } /*make the buttons disappear for very small screens so they don't overlap with title*/
}
