:root {
  /*GAL*/
  --z-index-zero: 0;
  --z-index-deepest: 1;
  --z-index-deep: 2;
  --z-index-just-over: 5;
  --z-index-over: 10;
  --z-index-over-plus: 15;
  --z-index-memberdb: 20;
  --z-index-main-menu: 50;
  --z-index-over-main: 80;
  --z-index-interpro-header: 100;
  --z-index-ebi-header: 200;
  --z-index-side-menu: 250;
  --z-index-toasts: 300;
  --z-index-toasts-on-hover: 350;
  --z-index-tooltips: 350;
  --z-index-modal: 1000;
}
