@import '../../styles/colors.css';

.title {
  display: flex;

  & .title-name.ipscan {
    display: inline-flex;
  }
  & > div:first-of-type:not(.icon-container):not(.title-name) {
    margin-top: 0.5rem; /* when using tooltip only way to move the SVG icon*/
  }

  & interpro-type {
    margin-right: 1.5rem;
  }
  & .icon-container {
    /*negative values as the viewbox is not well defined*/
    margin: 0 0.4rem;
  }
}

/* temp to test - version with notag*/
.title.notag {
  & interpro-type {
    margin: 0 1.5rem 0 0;
  }
  & .title-tag {
    display: none;
  }
  & .title-id {
    margin-left: 1.5rem;
  }
  & h3 {
    line-height: inherit;
  }
}

.title-id {
  color: #444;
  margin: 0.5rem 0 0 1.5rem;
  font-size: 130%;
}
.title-id span {
  padding: 0.2rem 0.5rem;
}

.title-id-family {
  background-color: var(--colors-family-sub);
}
.title-id-domain {
  background-color: var(--colors-domain-sub);
}
.title-id-repeat {
  background-color: var(--colors-repeat-sub);
}
.title-id-site {
  background-color: var(--colors-site-sub);
}
.title-id-hh {
  background-color: var(--colors-homolog-sub);
}
.title-id-unknown {
  background-color: var(--colors-unknown-sub);
}
/*used for protein, structure, organism page*/
.title-id-other {
  background-color: var(--colors-other-main);
}

.title-id-md {
  background-color: var(--colors-md-main);
}

.tag {
  margin-bottom: 1rem;
}

.title-fav {
  display: flex;
}

/* .fav-icon {
  padding: 0.7rem 0.3rem 0.25rem 0.3rem;
} */

.favourite {
  color: #f37506;
}

.normal {
  color: #dddcdc;
}

@media screen and (max-width: 63.9375em) {
  /*reduce SVG icon*/
  .title interpro-type {
    font-size: 86%;
    margin-right: 1rem;
    display: block;
  }
  .title.notag interpro-type {
    margin-right: 1rem;
  }
  /*reduce tag font*/
  .title-tag .tag {
    font-size: 70%;
  }
  .title-id {
    margin-left: 0.5rem;
    font-size: 81%;
  }
  .fav-icon {
    padding: 0.4rem 0.3rem 0.25rem 0.3rem;
  }
}
