@import '../../styles/colors.css';

.title {
  display: inline-block;
  width: 100%;

  & interpro-type {
    float: left;
    margin: 0.5rem 1rem 0.5rem 0;
  }
  & .icon-container {
    /*negative values as the viewbox is not well defined*/
    float: left;
    margin: -1.5rem 0 0 -1.5rem;
    width: 20%;
  }
}
.title small {
  color: #333;
  padding: 0 0.5rem;
}
.title-id-family {
  background-color: var(--colors-family-sub);
}
.title-id-domain {
  background-color: var(--colors-domain-sub);
}
.title-id-repeat {
  background-color: var(--colors-repeat-sub);
}
.title-id-site {
  background-color: var(--colors-site-sub);
}
.title-id-hh {
  background-color: var(--colors-homolog-sub);
}
.title-id-unknown {
  background-color: var(--colors-unknown-sub);
}
/*used for protein, structure, organism page*/
.title-id-other {
  background-color: var(--colors-other-main);
}

.title-id-md {
  background-color: var(--colors-md-main);
}

.shortname {
  color: #41647d;
  font-size: 80%;
}
