.exporter {
  margin: 0 0 0 0.5rem;
  position: relative;
  & .dropdown-content {
    top: 100%;
    right: 0;
    overflow: auto;
    width: initial;
    min-width: 220%;
    /*transform: scaleY(0);*/
    /*transform-origin: top;*/
    /*transition: transform 300ms ease-in-out;*/
    visibility: visible;
  }
}
.exporter .dropdown-pane {
  z-index: 2;
} /* so sticky header stay on top*/
