@import "../../../styles/colors.css";

.exporter {
  margin: 0 0 0 0.5rem;
  position: relative;
}

.exporter .icon-settings {
  margin: 0.5em;
  vertical-align: middle;
  font-size: 0.9rem;
  user-select: none;

  &::before {
    color: #71818a;
  }
}

.menu-grid {
  display: grid;
  grid-template-columns: 30% auto;
  align-items: center;
  & label {
    text-align: right;
    padding-right: 1rem;
  }
  & .imitate-progress-button {
    text-align: left;
    padding: 1em 0.5em;

    & span {
      color: var(--colors-graydark);
    }
  }
}

body a.generate-button,
body a:visited.generate-button,
body div.generate-button,
body button.generate-button {
  font-size: 0.8rem;
  box-shadow: none;
  color: var(--colors-graydark);
}

span.file-label {
  color: var(--colors-gray);
}
.protvista-menu {
  margin-top: 0;
}
