@import '../../styles/colors.css';

.ida-logo {
  margin-left: 40px;
  margin-bottom: 10px;
}

.ipscan-logo {
  margin-bottom: 2px;
}

.citing-details {
  color: var(--colors-dark);
  & summary {
    font-size: 1.3em;
    cursor: pointer;
  }
}

span.link {
  color: var(--colors-submain);
  &.disabled {
    cursor: not-allowed;
    opacity: 0.7;
    text-decoration: none;
  }
}
