@import '../../styles/colors.css';

.control {
  color: var(--colors-tag);
  margin: 0 1em 0 0;
}
.lddt {
  display: flex;
  & header {
    font-weight: bold;
  }
  & code {
    border: 0;
    line-height: 1em;
    height: 1.3em;
  }
}

.heatmap {
  display: block;
  margin: 0 0 2em 0;
  width: 500px;
  height: 500px;

  & label {
    text-align: center;
  }
}

.alignment {
  display: block;
}

/* Large screen */
@media screen and (min-width: 1800px) {
  .heatmap {
    width: 40%;
    float: left;
  }

  .alignment {
    width: 50%;
    float: right;
  }
}
