.protein-list {
  display: block;
  max-width: 15em;
}

ul.information,
ul.legend {
  margin: 0;
  padding: 0;
}

ul.information > li:nth-child(n + 2) {
  padding-top: 3px;
}

ul.information > li,
ul.legend > li {
  list-style: none;
}

ul.legend > li {
  display: flex;
  align-items: center;
}

ul.legend > li > span {
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
}

ul.information > li > .header {
  display: block;
  font-weight: bold;
}

ul.information > li > .footer {
  display: block;
  font-size: 0.85em;
}

.callout.info {
  color: #0d3c61;
}

.callout.info .icon:first-child {
  margin-right: 0.5em;
}
h5 {
  font-weight: normal;
  margin: 0.5em 0;
}
select {
  max-width: 100% !important;
}

div.alphafold-model .structure-viewer-split {
  height: 90vh;
}
