.splitfullscreen {
  display: flex;
  background-color: white;
  overflow: scroll;
  & > * {
    width: 50%;
  }
}
.comparison-button {
  margin-left: 0.3em;
  &.disabled {
    background: lightgray;
    border-color: darkgray;
    color: darkgray;
    box-shadow: none;
    margin: 0 0.3em;
  }
}
@media (orientation: portrait) {
  .splitfullscreen {
    flex-direction: column;
    & > * {
      width: 100%;
    }
  }
}
