.structure-wrapper {
  height: 50vh;
  width: 100%;
}

.structure-placeholder {
  width: 100%;
  height: 50vh;
}
.structure-viewer {
  width: 100%;
  height: 50vh;
}

.structure-viewer.is-stuck {
  position: fixed;
  z-index: 10000;
  right: 2%;
  top: auto;
  bottom: 20px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border-radius: 0;
  display: block;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
  width: 30%;
  height: 30vh;
}
