.structure-wrapper {
  height: 50vh;
  width: 100%;
}

.structure-viewer {
  position: relative;
}

.structure-viewer-select {
  max-width: 400px;
  bottom: 0.5rem;
  font-size: 90%;
  left: 0;
  margin: 0;
}

.structure-viewer.is-stuck {
  position: fixed;
  z-index: 10000;
  right: 2%;
  top: auto;
  bottom: 20px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border-radius: 0;
  display: block;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
  width: 40%;
  height: 30vh;

  & .structure-viewer-select {
    left: 1rem;
  }
}
.structure-viewer.is-stuck.is-minimized {
}
.structure-icon {
  font-size: 1.5em;
  margin: 4px;
}

.is-stuck .structure-icon {
  font-size: 1em;
}
