.viewer-resizer {
  height: calc(100% - var(--height-bar));

  & .structure-and-label {
    height: 100%;

    & .structure-viewer-ref {
      align-items: center;
      justify-content: center;
      height: 88%;
    }

    & .structure-label {
      height: 12%;
    }
  }
}
