.vf-badge--tertiary {
  background: rgba(255, 220, 220, 0.5);
  border-color: transparent;
  border-radius: 0.3em;
  color: rgba(159, 58, 56, 1);
  font-size: 0.85em;
  text-transform: none;
  user-select: none;
  &.mini {
    font-size: 0.7rem;
    padding: 2px;
  }
}
.vf-badge--tertiary:hover,
.vf-badge--tertiary:visited {
  color: rgba(159, 58, 56, 1);
}
.vf-badge > .details {
  margin-left: 1em;
  opacity: 0.8;
}
