@import "../../../styles/timing.css";
@import "../../../styles/colors.css";
@import "../../../styles/z-index.css";

.dropdown-container {
  display: inline-flex;
  margin: 0;
  position: relative;

  & button {
    cursor: pointer;
  }
  & .dropdown-button {
    background: var(--colors-nearly-white);
    & .icon-caret-down {
      margin-left: 1rem;
      padding: 0;
    }
  }
  & button {
    margin-bottom: 1px;
  }
  & span.icon {
    padding-right: 0.5em;
  }
  & .dropdown-content {
    position: absolute;
    top: 100%;
    width: initial;
    padding: 1rem 1.5rem 1rem 0.5rem;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform var(--timing-really-fast) ease-in-out;
    visibility: visible;
    display: block;
  }
  & .left {
    right: 30px; /*temp value while popup positioning is working better*/
    min-width: 180%; /*temp value*/
  }

  & .dropdown-pane {
    z-index: var(--z-index-over-plus); /* so sticky header stay on top*/
    border: 2px solid var(--vf-color--blue);
    & ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      & li {
        padding: 0.3rem 1rem;
        text-align: left;
        &:hover {
          background-color: lightgray;
        }

        & a {
          display: block;
        }
        & a:hover {
          color: white;
        }
      }
    }
  }
}

.dropdown-container.right-aligned {
  & .dropdown-content {
    left: auto;
    right: 0;
  }
}

.disableDropdown {
  & .dropdown-button {
    background: var(--colors-gray);
    cursor: not-allowed;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .dropdown-container .dropdown-content {
    width: 212px; /*temp value*/
  }
  .dropdown-container .dropdown-content.left {
    right: 1px;
  }
}

@media screen and (max-width: 39.9375em) {
  .dropdown-container .dropdown-button .icon-caret-down {
    display: none; /*remove select arrow for small screens*/
  }
  .dropdown-container .dropdown-content {
    width: 182px; /*temp value*/
  }
  .dropdown-container .dropdown-content.left {
    right: 1px;
  }
}
