@import "../styles/timing.css";

.with-data {
  transition: opacity var(--timing-fast) ease-in-out;
}

.with-stale-data {
  user-select: none;
  opacity: 0.5;
}

.sign-row {
  background: #f2f6f7;
  border: 1px solid #fff;
  font-size: 0.8rem;
}

.sign-cell {
  display: table-cell;
  width: 100%;
  padding: 4px 6px;
}

.sign-label {
  display: inline-block;
  min-width: 70px;
  border-radius: 2px;
  text-align: center;
  background: #b9d7ef;
}

.go-row {
  border: 1px solid #fff;
  font-size: 0.8rem;
  opacity: 0.8;
}

.go-row:hover {
  opacity: 1;
}

.go-cell {
  display: table-cell;
  width: 100%;
  padding: 4px 6px;
}
