@import "../styles/timing.css";

.with-data {
  transition: opacity var(--timing-fast) ease-in-out;
}

.with-stale-data {
  user-select: none;
  opacity: 0.5;
}

.sign-row {
  background: #f2f6f7;
  border: 1px solid #fff;
  font-size: 0.8rem;
}

.sign-cell {
  display: table-cell;
  width: 100%;
  padding: 4px 6px;
}

.sign-label {
  display: inline-block;
  min-width: 70px;
  border-radius: 2px;
  text-align: center;
  background: #b9d7ef;
}

.go-row {
  border: 1px solid #fff;
  font-size: 0.8rem;
}

.go-cell {
  display: table-cell;
  width: 100%;
  padding: 4px 6px;
}

.sign-label-head {
  border-radius: 2px;
  background: #b9d7ef;
  padding: 0.1rem 0.4rem;
  color: #6b7982;
}
.sign-label-head.bp {
  background: #cce7f3;
}
.sign-label-head.mf {
  background: #e5f5d7;
}
.sign-label-head.cc {
  background: #fbdcd0;
}

/* Medium screen only*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .col-go {
    display: none;
  } /*remove GO terms*/
}

/* Small screen only */
@media screen and (max-width: 39.9375em) {
  /*table.light th {word-break: break-all;}*/
  /*remove  GO terms and entry type columns*/
  .col-go,
  .col-type {
    display: none;
  }
}
