@import "../../../styles/colors.css";
@import "../../../styles/timing.css";

.tabs {
  border: 0;
  padding-bottom: 1em;
}

.tabs-title span:first-child {
  color: #4b555b;
}

.tabs-title > a,
.tabs-title > span {
  /*border: 2px solid transparent;*/
  /*border-right: 2px solid #7ba3b6;*/
  border-left: 3px solid currentColor;
  /*border-radius: 5px 0 0 5px;*/
  font-size: 0.9rem;
  padding: .7rem .7rem;
  position: relative;
  display: flex;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transition: transform var(--timing-medium) var(--timing-fn-spring);
    transform: translateX(calc(100% - 1px));
  }

  &::before {
    background: #cacaca;
    left: 0;
  }

  &::after {
    border: 1px solid currentColor;
    left: 100%;
    width: 130%;
  }

  &:hover::before {
    transform: translateX(calc(100% - 1ch));
  }
}

.tabs-title > a.is-active-tab {
  background: white;

  &::before,
  &::after,
  &:hover::before {
    transition-delay: var(--timing-medium);
    transform: translateX(calc(-100% + 0.7ch));
  }

  &::after {
    transform: translateX(-80%);
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .tabs-title > a,
  .tabs-title > span {
    &::before,
    &::after {
      transition: none !important;
    }
  }
}

.expand-button {
  padding: 0.2em 0.4em;
  margin-bottom: 0;
}
.collapsed .tabs-title {
  & a,
  & span {
    display: none;
  }
}
/*target the div - increase width - that come immediatly after collapsed - doesn't work using class*/
.collapsed + div {
  flex: 0 0 93%;
  max-width: 93%;
}

/*onglet appearing on collapsed - not used */
.collapsed .tabs-title a.is-active-tab {
  display: none; /*flex*/
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  transform: rotate(-90deg) scaleX(1);
  transform-origin: top center 0;
  border: 0px solid #7ba3b6;
  border-bottom: 0;
  padding: 0.22rem 0.8rem;
  & span {
    display: inline-block;
  }
}

.collapsed.columns {
  flex: 0 0 auto;
  padding-right: 0;
}

.number-label {
  color: var(--colors-graydark);
}

.is-active span:first-child {
  font-weight: bold;
}

.is-active .number-label {
  color: white;
  background: #71818a;
}

.tabs-title > a.is-active:before {
  background: currentColor;
}

button.hollow.light {
  color: #92989c;
  border: 1px solid #d1d9de;
  outline: 0;
}
button.hollow.light:hover,
button.hollow.light:focus {
  color: #4b555b;
  border: 1px solid #92989c;
}
@media screen and (max-width: 39.9375em) {
  /*temp while we replace MD menu by select */
  .tabs-title:last-child {
    border-bottom: 1px #cacaca solid;
  }
}
