@import '../../../styles/colors.css';
@import '../../../styles/timing.css';

.tabs {
  border: 0;
}

.tabs-title span:first-child {
  color: #4b555b;
}

.tabs-title > a,
.tabs-title > span {
  /*border: 2px solid transparent;*/
  /*border-right: 2px solid #7ba3b6;*/
  border-left: 3px solid currentColor;
  /*border-radius: 5px 0 0 5px;*/
  font-size: 0.9rem;
  padding: 0.66rem; /*not 0.7 for firefox*/
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transition: transform var(--timing-medium) var(--timing-fn-spring);
    transform: translateX(calc(100% - 1px));
  }

  &::before {
    background: #cacaca;
    left: 0;
  }

  &::after {
    border: 1px solid currentColor;
    left: 100%;
    width: 130%;
  }

  &:hover::before {
    transform: translateX(calc(100% - 1ch));
  }
}

.tabs-title > a.is-active-tab {
  background: white;

  &::before,
  &::after,
  &:hover::before {
    transition-delay: var(--timing-medium);
    transform: translateX(calc(-100% + 0.7ch));
  }

  &::after {
    transform: translateX(-80%);
  }
}

.tabs-title span {
  z-index: 1;
} /*show labels on top of animation*/

/*custom active number label - temp?*/
.tabs-title a.InterPro.is-active .number-label {
  background-color: var(--colors-interpro);
}
.tabs-title a.gene3d.is-active .number-label {
  background-color: var(--colors-gene3d);
}
.tabs-title a.cdd.is-active .number-label {
  background-color: var(--colors-cdd);
}
.tabs-title a.hamap.is-active .number-label {
  background-color: var(--colors-hamap);
}
.tabs-title a.panther.is-active .number-label {
  background-color: var(--colors-panther);
}
.tabs-title a.pfam.is-active .number-label {
  background-color: var(--colors-pfam);
}
.tabs-title a.pirsf.is-active .number-label {
  background-color: var(--colors-pirsf);
}
.tabs-title a.prints.is-active .number-label {
  background-color: var(--colors-prints);
}
.tabs-title a.prodom.is-active .number-label {
  background-color: var(--colors-prodom);
}
.tabs-title a.profile.is-active .number-label {
  background-color: var(--colors-profile);
}
.tabs-title a.prosite.is-active .number-label {
  background-color: var(--colors-prosite);
}
.tabs-title a.sfld.is-active .number-label {
  background-color: var(--colors-sfld);
}
.tabs-title a.smart.is-active .number-label {
  background-color: var(--colors-smart);
}
.tabs-title a.ssf.is-active .number-label {
  background-color: var(--colors-ssf);
}
.tabs-title a.tigrfams.is-active .number-label {
  background-color: var(--colors-tigrfams);
}

@media screen and (prefers-reduced-motion: reduce) {
  .tabs-title > a,
  .tabs-title > span {
    &::before,
    &::after {
      transition: none !important;
    }
  }
}

.expand-button {
  padding: 0.2em 0.4em;
  margin-bottom: 0;
}
.collapsed .tabs-title {
  & a,
  & span {
    display: none;
  }
}
/*target the div - increase width - that come immediatly after collapsed - doesn't work using class*/
.collapsed + div {
  flex: 0 0 94%;
  max-width: 94%;
  width: 94%;
}

/*onglet appearing on collapsed - not used */
.collapsed .tabs-title a.is-active-tab {
  display: none; /*flex*/
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  transform: rotate(-90deg) scaleX(1);
  transform-origin: top center 0;
  border: 0px solid #7ba3b6;
  border-bottom: 0;
  padding: 0.22rem 0.8rem;
  & span {
    display: inline-block;
  }
}

.collapsed.columns {
  flex: 0 0 auto;
  padding: 0;
  width: auto;
  margin-left: 1rem;
}
.collapsed ul {
  padding: 0;
  margin: 0;
}
.db-label {
  text-transform: capitalize;
}

.number-label {
  color: var(--colors-graydark);
}

.is-active .db-label {
  font-weight: bold;
}

.is-active .number-label {
  color: white;
  background: #71818a;
}

.tabs-title > a.is-active:before {
  background: currentColor;
}

button.hollow.light {
  color: #92989c;
  border: 1px solid #d1d9de;
  outline: 0;
}
button.hollow.light:hover,
button.hollow.light:focus {
  color: #4b555b;
  border: 1px solid #92989c;
}

.browsemd-panel,
.browsemd-panel select {
  color: #4b555b;
}

@media screen and (max-width: 39.9375em) {
  /*temp while we replace MD menu by select */
  .tabs-title:last-child {
    border-bottom: 1px #cacaca solid;
  }
}

/*remove collapse effect for small screens as we replace the menu by select*/
@media screen and (max-width: 39.9375em) {
  .collapsed + div {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
  .collapsed.columns {
    margin-left: 0.625rem;
  }
}
