a.browse-tabs-link,
a.browse-tabs-link:visited {
  font-size: 0.9rem; /*same size as submenu*/
  padding: 0.7rem 1rem; /*to make it similar to EBI leaf menu*/
  line-height: inherit;
  color: black;
}

a.browse-tabs-link:hover {
  color: #1779ba;
}

a.browse-tabs-link:focus {
  color: #2199e8;
}

a.is-active-tab {
  font-weight: bold;
  background: #1779ba;
  color: white;
}

a.is-signature.is-active-tab {
  background: #4e7287;
}

/*remove transition effect that are applied on MMD list*/
a.is-active-tab span {
  color: white;
  transition-delay: 0s, 0s;
  transition-duration: 0s, 0s;
}
a span {
  transition-delay: 0s, 0s;
  transition-duration: 0s, 0s;
}
