.elixir-ribbon {
  padding: 1rem 0;
  font-family: Helvetica, Arial, FreeSans, 'Liberation Sans', sans-serif;
  border-top: 1px solid #f6f6f6;

  & h5 {
    font-size: 1.3rem;
    display: flex;
  }

  &,
  & h5,
  & a,
  & a:active,
  & a:hover {
    color: rgb(77, 77, 72);
    text-decoration: none;
  }

  & a:hover {
    opacity: 0.8;
  }

  & .readmore {
    border-bottom: 1px dotted #fff;
  }

  & h5 {
    margin: 0;
  }
  & .elixir-logo-kite {
    position: relative;
    top: -5px;
    margin: 0 1rem -0.5rem 0;
    height: 60px;
    width: 60px;
    display: inline-block;
    float: left;
    background-size: 60px;
  }
}

.row {
  max-width: 1200px;
  margin: 0 auto 1rem;
  display: flex;

  &::before,
  &::after {
    display: table;
    content: ' ';
  }
}

:global(#elixir-banner-info) {
  display: flex;
}

.elixir-logo-kite {
  display: inline-block;
  float: left;
  margin: 0 1rem -0.5rem 0;
}
