@import '../../styles/colors.css';
@import '../../styles/spacing.css';
@import '../../styles/timing.css';

.loading_bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: var(--spacing-small);
  background-color: var(--colors-loading-bar);
  pointer-events: none;
  transform: scaleX(0);
  opacity: 1;
  transform-origin: 0 0;
  transition: transform var(--timing-medium) ease-in-out,
    opacity var(--timing-fast) ease-in-out;
  will-change: transform, opacity;
}
