@import '../../styles/colors.css';

.count {
  color: var(--colors-graydark);
  transition: opacity 500ms ease-in-out;
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}

.md-list {
  font-size: 80%;
}

.md-list .column:hover {
  background-color: #e4f3ff;
}

.md-list small {
  color: var(--colors-lightgray);
}

.md-list svg {
  margin-bottom: -15px;
  margin-top: -15px; /*temp reposition the view port without changing the coordinates of all svg*/
}

/*all except font button*/
.md-list a:not(.button) {
  color: #0a0a0a;
}

.md-list h6 {
  margin-bottom: 0;
}

/*avoid  text collapse 2 lines for md names - in particular prosite*/
.md-list h6 {
  white-space: nowrap;
}

/*temp replace the float css while update to latest foundation*/
.md-list .row {
  display: flex;
  flex-flow: row wrap;
}

.md-list .column {
  flex: 0 0 25%;
  max-width: 25%;
}

@media screen and (max-width: 40em) {
  .md-list .column {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/*/temp replace the float css while update to latest foundation*/
@media screen and (max-width: 20em) {
  .md-list .column {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
