@import '../../styles/colors.css';
@import '../../styles/timing.css';

.count {
  color: var(--colors-graydark);
  transition: opacity var(--timing-medium) ease-in-out;
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}

.md-list {
  font-size: 80%;

  & small {
    color: var(--colors-lightgray);
  }

  & svg {
    margin-bottom: -15px;
    margin-top: -15px; /*temp reposition the view port without changing the coordinates of all svg*/
  }

  & a.block {
    color: #0a0a0a;
    display: block;
  }

  & h6 {
    margin-bottom: 0;
  }
}

/*temp replace the float css while update to latest foundation*/
.md-list .row {
  display: flex;
  flex-flow: row wrap;
}

.md-list .column {
  flex: 0 0 25%;
  max-width: 25%;
  transition: all var(--timing-really-fast) ease-out;
}

.md-list .column:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 40em) {
  .md-list .column {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/*/temp replace the float css while update to latest foundation*/
@media screen and (max-width: 20em) {
  .md-list .column {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
