@import '../../styles/colors.css';
@import '../../styles/timing.css';
@import '../../styles/fonts.css';

.count {
  color: var(--colors-graydark);
  transition: opacity var(--timing-medium) ease-in-out;
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}

.md-list {
  font-size: 80%;

  & small {
    color: var(--colors-lightgray);
  }

  & svg {
    margin-bottom: -15px;
    margin-top: -15px; /*temp reposition the view port without changing the coordinates of all svg*/
  }

  & a.block {
    color: #0a0a0a;
    display: block;
  }

  & .card-title {
    line-height: 1.1;
    font-family: var(--fonts-system);
    font-weight: 600;
    font-size: 120%;
    border-bottom: 2px white solid;
    padding-bottom: 2px;
    transition: border 0.3s ease-in-out;

    &:hover {
      border-bottom: 2px #4e4e4e solid;
      padding-bottom: 2px;
    }
  }
}

/*temp replace the float css while update to latest foundation*/
.md-list .row {
  display: flex;
  flex-flow: row wrap;
}

.md-list .column {
  flex: 0 0 25%;
  max-width: 25%;
  transition: all var(--timing-really-fast) ease-out;
}

.md-list .column:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 40em) {
  .md-list .column {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/*/temp replace the float css while update to latest foundation*/
@media screen and (max-width: 20em) {
  .md-list .column {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

hr.md.interpro {
  border-bottom: 2px solid var(--colors-interpro);
}
hr.md.cathgene3d {
  border-bottom: 2px solid var(--colors-cathgene3d);
}
hr.md.cdd {
  border-bottom: 2px solid var(--colors-cdd);
}
hr.md.hamap {
  border-bottom: 2px solid var(--colors-hamap);
}
hr.md.panther {
  border-bottom: 2px solid var(--colors-panther);
}
hr.md.pfam {
  border-bottom: 2px solid var(--colors-pfam);
}
hr.md.pirsf {
  border-bottom: 2px solid var(--colors-pirsf);
}
hr.md.prints {
  border-bottom: 2px solid var(--colors-prints);
}
hr.md.prodom {
  border-bottom: 2px solid var(--colors-prodom);
}
hr.md.profile {
  border-bottom: 2px solid var(--colors-profile);
}
hr.md.prosite {
  border-bottom: 2px solid var(--colors-prosite);
}
hr.md.sfld {
  border-bottom: 2px solid var(--colors-sfld);
}
hr.md.smart {
  border-bottom: 2px solid var(--colors-smart);
}
hr.md.ssf {
  border-bottom: 2px solid var(--colors-ssf);
}
hr.md.tigrfams {
  border-bottom: 2px solid var(--colors-tigrfams);
}
hr.md {
  margin: 2px 0 0 0;
}

.name-row {
  display: flex;
  justify-content: space-around;
  & > div {
    display: flex;
    & span {
      margin: 0 0.1em;
    }
  }
}
