@import '../../../styles/colors.css';
@import '../../../styles/timing.css';

a.browse-tabs-link {
  &,
  &:focus,
  &:hover,
  &:visited {
    font-size: 0.9rem; /*same size as submenu*/
    padding: 1rem 1rem 0.5rem 1rem;
    color: black;
    line-height: inherit;
    background-color: transparent; /*to keep*/
    border-bottom: 3px solid white; /*just for animation*/
  }
}

/* custom menu color bottom (Protein, structure, Organism , taxon, set) */
a.is-active-tab {
  &,
  &:focus,
  &:hover,
  &:visited {
    font-weight: bold;
    /*color: black;*/
    border-bottom: 3px solid var(--colors-submain);
    background-color: transparent;
    transition: border-bottom-color var(--timing-medium) ease-in-out;
  }

  &.is-signature {
    border-bottom-color: #4e7287;
  }
}

a.is-active-tab:hover,
a.browse-tabs-link:hover {
  background-color: var(--colors-nearly-white);
  transition: background-color var(--timing-really-fast) ease-in-out;
}

a.is-active-tab.menu-family {
  border-bottom-color: var(--colors-family-main);
}

a.is-active-tab.menu-domain {
  border-bottom-color: var(--colors-domain-main);
}

a.is-active-tab.menu-site {
  border-bottom-color: var(--colors-site-main);
}

a.is-active-tab.menu-repeat {
  border-bottom-color: var(--colors-repeat-main);
}

a.is-active-tab.menu-hh {
  border-bottom-color: var(--colors-homolog-main);
}
.tabs-title {
  display: flex;
  align-items: stretch;
  margin-right: 1rem;
}
/*hide icons on main menu - show them only on sidemenu and revert color from black to white*/
.icon-count-sm {
  display: none;
  width: 18px;
  height: 16px;
  filter: invert(100%);
  color: black;
}
