@import '../../../styles/timing.css';

:root {
  /*GAL*/
  --menuitem-padding: 0.4rem;
}
body {
  & a.browse-tabs-link {
    white-space: nowrap;

    &,
    &:focus,
    &:hover,
    &:visited {
      text-decoration: none;
      font-size: 0.9rem; /* same size as submenu */
      padding: var(--menuitem-padding, 0.4rem);
      color: black;
      line-height: inherit;
      background-color: transparent; /* keep! */
      position: relative; /*to avoid bug when resize menu on small screens*/

      & > .name {
        display: inline-block;
        margin-right: 0.5ch;
        & + span {
          min-width: 3em;
          text-align: right;
        }
        &::after {
          display: block;
          padding-top: var(--menuitem-padding);
          content: attr(data-content);
          position: absolute;
          top: 0;
          font-weight: bold;
          color: black;
          opacity: 0;
        }
      }
    }
    &.withuot-counter .name {
      margin-right: 3rem;
    }
  }

  /* custom menu color bottom (Protein, structure, Organism , taxon, set) */
  & a.is-active-tab {
    &,
    &:focus,
    &:hover,
    &:visited {
      & > .name {
        color: transparent;

        &::after {
          opacity: 1;
        }
      }
    }
  }

  & .used-on-the-side {
    &,
    & a.is-active-tab {
      width: 100%;
      & .name {
        color: #ccc;

        &::after {
          content: initial;
        }
      }
    }

    & a.is-active-tab .name {
      font-weight: bold;
    }
  }

  & .tabs-title {
    display: flex;
    align-items: stretch;
    margin-right: 0.5rem;
    transition: all var(--timing-fast) ease-in-out;
  }
  & .tabs-title.collapsed {
    transform: rotate(-90deg);
    transform-origin: right bottom;
    position: absolute;
    top: 1rem;
    & a {
      opacity: 0;
    }
    & a.is-active-tab {
      opacity: 1;
    }
  }
  /* hide icons on main menu - show them only on sidemenu and revert color from black to white */
  & .icon-count-sm {
    display: none;
    width: 18px;
    height: 16px;
    filter: invert(100%);
    color: black;
  }

  & .used-on-the-side {
    & .icon-count-sm {
      display: inline-block;
    }

    & .counter {
      color: white;
    }
  }
}
