@import '../../../styles/timing.css';

.menu {
  display: table;
  max-width: 100vw;
  overflow-x: hidden;
}

.menu-item {
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--timing-fast) ease-in-out;
}

.visible {
  pointer-events: initial;
  opacity: 1;
}
