@import '../../../styles/timing.css';

.menu {
  display: flex;
}

.menu-item {
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--timing-fast) ease-in-out;
  border-left: 1px solid #fff3;

  &:first-child {
    border-left: none;
  }
}

.visible {
  pointer-events: initial;
  opacity: 1;
}
