@import "../../styles/timing.css";
@import "../../styles/colors.css";

@supports (initial-letter: 2) {
  .paragraph::first-letter {
    font-weight: bold;
    initial-letter: 2;
  }
}

.inline {
  display: inline;
}

a.text-high:focus {
  color: var(--colors-warning-txt);
  font-weight: bold;
  font-size: 110%;
  background-color: var(--colors-marktext);
  outline: 0;
}

.description hr {
  margin: 0.75em;
}

div.llm {
  background-color: rgb(255, 241, 213, 0.3);
}

div.llm.checked {
  background-color: rgb(236, 255, 224, 0.3);
}
div.llm .icon {
  color: lightslategray;
  &:hover {
    color: inherit;
  }
}
