@import "../../styles/timing.css";
@import "../../styles/colors.css";

@supports (initial-letter: 2) {
  .paragraph::first-letter {
    font-weight: bold;
    initial-letter: 2;
  }
}

.inline {
  display: inline;
}

a.text-high:focus {
  color: var(--colors-warning-txt);
  font-weight: bold;
  font-size: 110%;
  background-color: var(--colors-marktext);
  outline: 0;
}

.description hr {
  margin: 0.75em;
}
.description .content {
  border-left: 4px solid transparent;
  padding-left: 1em;
}
.description .content.llm:not(.checked) {
  border-left-color: #f0ad4e;
}
.vf-badge--tertiary {
  background: #e8e8e8;
  border-color: transparent;
  border-radius: 0.3em;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.85em;
  text-transform: none;
  user-select: none;
}
.vf-badge--tertiary:hover,
.vf-badge--tertiary:visited {
  color: rgba(0, 0, 0, 0.6);
}
.vf-badge > .details {
  margin-left: 1em;
  opacity: 0.8;
}
