@import "../../styles/timing.css";

.animate-height {
  /*transition: max-height var(--timing-fast) ease-in-out;*/
  overflow: hidden;
}

@supports (initial-letter: 2) {
  .paragraph::first-letter {
    font-weight: bold;
    initial-letter: 2;
  }
}
