@import "../../../styles/ebi/fonts.css";
@import "../../../styles/timing.css";

.apply-all {
  margin-left: 1rem;
  display: inline-block;
  cursor: pointer;
  /*perspective: 100px;*/

  &:hover & > div {
    /*transform: rotate3d(0, 1, 0, 0deg);*/
    opacity: 1;
  }

  @nest & > div {
    display: inline-block;
    /*transition: transform var(--timing-fast) ease-in-out;*/
    /*transform: rotate3d(0, 1, 0, 91deg);*/
    /*transform-origin: left;*/
    /*backface-visibility: hidden;*/
    opacity: 0;
    transition: opacity var(--timing-fast) ease-in-out;
  }
}
.table-length,
.table-length select {
  font-size: 0.9rem;
}
