@import '../../styles/colors.css';
@import '../../styles/spacing.css';
@import '../../styles/fonts.css';
@import '../../styles/timing.css';

.standard {
  /* width: 100vw; */ /*removed as it clashed with foundation grid*/
  margin: 0;
  display: flex;
  align-items: center;

  @nest & > * {
    padding: var(--spacing-medium);
  }
}

.masthead {
  /*position: sticky;*/
  /* top: -150px;*/ /*!* -34px (EBI header); *!*/
  left: 0;
  right: 0;
  z-index: 3;
}
.masthead {
  background-image: linear-gradient(
      to right,
      rgba(0, 85, 158, 0.9),
      rgba(45, 174, 193, 0.5),
      rgba(0, 85, 158, 0.9)
    ),
    url(images/backgrounds/bgd-banner.svg);
  background-repeat: no-repeat, repeat;
  background-position: 0, 100% -1.6%;
  background-size: 100%, 2030px;
}
/*fallback*/
/*
.masthead {
  background-image: linear-gradient(
    to right,
    rgba(0, 85, 158, 0.9),
    rgba(45, 174, 193, 0.5),
    rgba(52, 123, 148, 0.9)
  ),
  url(images/backgrounds/banner-sqc-comparison.jpg);
  background-repeat: no-repeat, repeat;
  background-position: left, top right;
  background-size: 100%, 50%;
}*/
.masthead.sign {
  background-image: linear-gradient(
      to right,
      #325578,
      rgba(249, 255, 182, 0.53),
      rgb(43, 111, 128)
    ),
    url(images/backgrounds/bgd-banner.svg);
}

/* to have same size as global  header*/
.masthead nav ul li {
  font-size: 0.9rem;
}

/*STYLE - make menu items hover slightly darker*/
.masthead nav ul li a:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.9);
}
/*STYLE - slightly hide division between menu items */
.masthead nav ul.menu li {
  border-right: 1px solid rgba(248, 248, 248, 0.2);
}

.container {
  position: relative;
  box-shadow: grey 0 2px 10px;
  color: var(--colors-nearly-white);
}

.ebi {
  composes: standard;
  background-color: var(--colors-ebidark);
  color: var(--colors-nearly-white);

  @nest & > * {
    border-left: solid 1px grey;

    &:first-child {
      flex: 1;
      border-left: none;
    }
  }
}

.ebi_services {
  background-color: var(--colors-main);
}

.top_level {
  display: flex;
  align-items: center;
}

.masthead button {
  outline: 0;
}

.top_level_hamburger {
  background: none;
  border: none;
  user-select: none;
  font-size: larger;
  color: var(--colors-nearly-white);
  cursor: pointer;
  transform: translateY(0);
  transition-duration: var(--timing-fast);
  transition-timing-function: ease-in-out;

  &.stuck {
    transform: translateY(220%) Scale(0.8);
  }
}

.hamb_line {
  stroke-width: 1.5px;
  stroke: #fff;
  stroke-linecap: round;
  transform-origin: 44% 50%;
}

.hamb_1,
.hamb_2,
.hamb_3 {
  composes: hamb_line;
}

.hamb_1_open,
.hamb_2_open,
.hamb_3_open {
  composes: hamb_line;
}

.hamb_1,
.hamb_2,
.hamb_3 {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /*opacity and transform*/
}

.hamb_1_open {
  transform: rotate(45deg) translate(0.5px, 1.5px);
  transition: transform 0.3s ease-in-out;
}

.hamb_2_open {
  opacity: 0;
  transition: opacity 0.3s;
}

.hamb_3_open {
  transform: rotate(-45deg) translate(1px, -2px);
  transition: transform 0.3s ease-in-out;
}

.medium_level {
  composes: standard;
  justify-content: space-between;
  color: var(--colors-nearly-white);

  /*background-color: var(--colors-main);*/

  @nest & > * {
    padding: 0;

    @nest & > * {
      padding: var(--spacing-medium);
      position: relative;
      display: inline-flex;
      overflow-y: hidden;
      z-index: 1;
      transition: color 0.2s ease-out;

      &:not(:first-child) {
        border-left: solid 1px var(--colors-nearly-white);
      }

      &::before {
        content: '';
        z-index: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 0;
        width: 10%;
        border-style: solid;
        border-width: var(--spacing-medium);
        border-color: transparent;
        border-bottom-color: var(--colors-nearly-white);
        transform: translateY(var(--spacing-medium));
        transition: transform 0.2s ease-out;
      }

      &::after {
        content: '';
        z-index: -1;
        position: absolute;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--colors-nearly-white);
        transform: translateY(100%);
        transition: transform 0.2s ease-out;
      }

      &.active {
        color: var(--colors-main);

        &::after {
          transform: translateY(0);
        }
      }

      &:hover, &:focus {
        &::before {
          transform: translateY(0);
        }
      }
    }
  }
}

.side-icons {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

.side-search {
  display: flex;
  font-size: 1.3rem;
  transform: translate(0, 0); /*transition move zoom icon when stuck*/
  transition-duration: var(--timing-fast);
  transition-timing-function: ease-in-out;
}

.side-search.stuck {
  transform: translate(-40px, 41px);
  transition-delay: 0s;
}
.side-search.stuck svg {
  transform: scale(0.9);
}
.side-search.stuck svg:hover,
.side-search.stuck > div:hover ~ a div svg {
  transform: rotate(90deg) scale(0.9);
} /*keep the zoom icon same size when rotating and stuck*/

.side-search svg {
  transition-timing-function: ease-in-out;
  transition-duration: var(--timing-fast);
}

.side-search svg:hover {
  transform: rotate(90deg);
}

.lowGraphics {
  & .side-search.stuck,
  & .side-search.stuck svg,
  & .side-search.stuck svg:hover,
  & .side-search.stuck > input:hover ~ a svg,
  & .side-search svg:hover,
  & .side-search > input,
  & .side-search > input:focus,
  & .side-search > input:hover {
    transform: none;

    & ~ * > svg {
      transform: none;
    }
  }
}

.lowGraphics {
  transition: none;
}

.side-search input {
  margin: 0.25rem 0;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  &:hover {
    opacity: 1;
    -webkit-filter: blur(0); /*remove blur effect on chrome*/
  }
}

.side-search input:focus {
  opacity: 1;
  -webkit-filter: blur(0);
  color: rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 0.1);
  border: none;
  box-shadow: none;
  border-bottom: 2px solid currentColor;
  transition: border-color 0.2s ease-in-out, background 0.2s ease-in-out;
}

/*rotate zoomicon when mouse-over input*/
.side-search > div:hover ~ a div svg {
  transform: rotate(90deg);
}

.side-search input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

/*use when off canvas is open and icons need to move left*/
.movedAway {
  transform: translateX(-20em);
}

@media screen and (max-width: 20em) {
  .side-icons {
    transition: opacity 0.3s;
    opacity: 0;
  }
}
