.wrapper {
  display: flex;
  justify-content: center;
  padding: 2em;
}

.inner-wrapper {
  position: relative;
  cursor: pointer;
}

.background {
  opacity: 0.4;
}

.text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > * {
    padding: 2ch;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;

    & input {
      margin: 0;
    }
  }
}
