@import "../../../styles/spacing.css";
@import "../../../styles/colors.css";

.svgContainer {
  margin: var(--spacing-small) 0 var(--spacing-small)
    calc(-1 * var(--spacing-big));
  overflow-y: hidden;
  overflow-x: auto;
  user-select: none;
  cursor: default;
  padding: 0 1em 0 1em;
  background-color: #efefef;
}

.svg {
  height: 100%;
  width: 100%;
  overflow: visible;
}
.guidelines line {
  stroke: var(--colors-gray);
  stroke-width: 1px;
}
.svg rect:hover {
  opacity: 0.7;
}
