@import '../../../styles/spacing.css';
@import '../../../styles/colors.css';

.svgContainer {
  background-color: #efefef;
}

.svg {
  height: 100%;
  width: 100%;
  overflow: visible;
}
.guidelines line {
  stroke: var(--colors-lightgray);
  stroke-width: 0.5px;
}

.guidelines text {
  fill: var(--colors-lightgray);
}

.svg rect:hover {
  opacity: 0.7;
}
