@import '../../../styles/spacing.css';
@import '../../../styles/colors.css';

.svgContainer {
  background-color: #efefef;
}

.svg {
  height: 100%;
  width: 100%;
  overflow: visible;
}
.guidelines line {
  stroke: var(--colors-gray);
  stroke-width: 1px;
}
.svg rect:hover {
  opacity: 0.7;
}
