.wrapper {
  position: relative;
}

.overlay {
  pointer-events: none;
  cursor: progress;
  user-select: none;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  text-align: center;
  padding-top: 2em;
  transition: opacity 0.5s ease-in;

  &.loading {
    pointer-events: auto;
    opacity: 1;
  }
}

.container {
  transition: opacity 0.5s ease-out;
  opacity: 1;

  &.loading {
    opacity: 0.5;
  }
}
