.table-filter {
  line-height: 0;
  position: relative;
}

.filter-box {
  display: inline-block;
}
.filter-box ::-webkit-input-placeholder {
  color: #aeaeae;
}
.filter-box ::-moz-placeholder {
  color: #aeaeae;
}
.filter-box .cancel-button {
  position: absolute;
  right: 0.5rem;
  top: 0.1rem;
  opacity: 0;
  font-size: 2em;
  line-height: 1;
  cursor: pointer;
  outline: 0;
}
.filter-box input:hover + .cancel-button {
  opacity: 0.3;
}

.cancel-button:hover {
  opacity: 0.6;
}
.filter-box input {
  color: #505f74;
}
.filter-box input:hover {
  border: 1px #b9d7ef solid;
}
