@import '../../../styles/colors.css';

.table-filter {
  line-height: 0;
  position: relative;
}

.filter-box {
  display: inline-block;
  padding-bottom: 2px;
}
.filter-box.loading {
  background-size: 100% 2px;
  background: linear-gradient(
      90deg,
      transparent 20%,
      var(--colors-tag) 30%,
      var(--colors-tag) 70%,
      transparent 80%
    )
    25% 100%;
  animation: border-dance 1s infinite linear;
}
@keyframes border-dance {
  0% {
    background-size: 75% 2px;
    background-position: 40% 100%;
  }
  50% {
    background-size: 100% 2px;
    background-position: 25% 100%;
  }
  100% {
    background-size: 75% 2px;
    background-position: 40% 100%;
  }
}

.filter-box ::-webkit-input-placeholder {
  color: #aeaeae;
}
.filter-box ::-moz-placeholder {
  color: #aeaeae;
}
.filter-box .cancel-button {
  position: absolute;
  right: 0.2rem;
  top: 0.1rem;
  opacity: 0;
  font-size: 2em;
  line-height: 1;
  cursor: pointer;
  outline: 0;
}
.filter-box input:hover + .cancel-button {
  opacity: 0.3;
}

.cancel-button:hover {
  opacity: 0.6;
}
.filter-box input {
  color: #505f74;
}
.filter-box input:hover {
  border: 1px #b9d7ef solid;
}
@media screen and (max-width: 39.9375em) {
  .filter-box,
  .table-filter {
    display: flex;
    flex-grow: 1;
  }
}
