@import "../../../styles/timing.css";

.count-4 {
  display: flex;
  align-items: center;
  width: 25%;
  position: relative;

  &:hover .icon-over-anim {
    transform: scale(2.2);
    opacity: 1;
    transition: all var(--timing-really-fast) cubic-bezier(0.4, 0, 0.2, 1); /*to keep to do the animation on mouse leave too*/
  }
}

.icon-wrapper {
  position: relative;

  & .icon-over-anim {
    position: absolute;
    top: 26%;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.1);
    width: 21px;
    height: 21px;
    border-radius: 50%;
    display: block;
    opacity: 0;
    transition: all var(--timing-really-fast) cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.card-counter {
  color: #333;
  /*margin-bottom: 0;*/
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.card-counter a,
.card-counter a:visited,
.card-counter a:hover {
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-counter .icon-conceptual::before {
  font-size: 210%;
}

.card-counter .icon-common::before {
  font-size: 140%;
}

.label-h .icon {
  margin: 0 0.5rem;
}
.card-counter.label-h a {
  flex-direction: row;
}
.card-counter.label-h .no-link {
  flex-direction: row;
}
.icon-count-signatures {
  margin-top: 3px;
}

.icon-count-ida {
  height: 3em;
  width: 32px; /*was 38*/
  background-image: url("../../../images/icons/ico-ida.svg");
  background-position-y: 54%;
  background-repeat: no-repeat;
}

.icon-count-set {
  height: 3em;
  width: 26px;
  background-image: url("../../../images/icons/ico-set.svg");
  background-size: 100%;
  background-position-y: 59%;
  background-repeat: no-repeat;
}

.icon-count-organisms {
  height: 3em; /*to align icon*/
  width: 30px;
  background-image: url("../../../images/icons/ico-species.svg");
  background-position-y: 59%;
  background-repeat: no-repeat;
  margin: 0.5rem;
}

.icon-count-go {
  margin: 0.5rem;
  font-weight: 400;
  font-size: 140%;
}

.icon-count-go::before {
  content: "G";
}
.icon-count-go::after {
  content: "O";
  margin-left: -3px;
}

.label-off .label-number {
  display: none;
}

.list-item interpro-type {
  margin-right: 0.5ch;
  padding-top: 4px;
  float: left;
}

.icon-count-signatures .md-small {
  width: 36px;
}
