@import '../../styles/colors.css';

.control {
  color: var(--colors-tag);
  margin: 0 1em 0 0;
}

.legend {
  min-height: fit-content;
  display: flex;
  justify-content: flex-end;
}
.legend picture,
.legend img {
  width: 100%;
  max-width: 300px;
}

.protein-list {
  display: block;
  max-width: 15em;
}
