@import '../../styles/fonts.css';
@import '../../styles/colors.css';
:root {
  --entry-width: 180px;
  --entry-padding: 1em;
}

.ida-workspace {
  min-height: 200px;
  background: var(--colors-almost-white);

  @nest & div.panels {
    display: flex;
    min-height: 200px;
    @nest & div.ida-panel {
      min-width: calc(var(--entry-width) + var(--entry-padding) * 4);
      width: 75%;
      & > div {
        height: 85%;
        padding: 0.2em 0 0;
        overflow: scroll;
        max-width: calc(100vw - var(--entry-width) + var(--entry-padding) * 4);
      }
    }
    @nest & div.ida-ignore {
      min-width: calc(var(--entry-width) + var(--entry-padding) * 4);
      width: 25%;
    }
    @nest & header {
      font: var(--fonts-system);
      font-weight: bold;
      font-size: 0.9em;
      padding: 0.1em 0.1em 0.1em 1em;
      background-color: var(--colors-ulightgray);
      margin-bottom: 1em;
      width: 100%;
    }
  }
}
.options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  & .switch {
    margin-bottom: 0.3rem;
    &.disabled label {
      color: var(--colors-slightgray);
    }
  }
}
.ida-controls {
  padding: 1em;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  & button.button.secondary {
    & * {
      vertical-align: middle;
    }
    & span {
      font-size: 1.2em;
    }
  }
  & label {
    display: flex;
    & > span {
      margin-left: 1em;
    }
  }
}

.ida-button {
  opacity: 1;
  cursor: pointer;
}

.ida-button:hover {
  opacity: 0.8;
}

ul.ida-list {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;

  @nest & li {
    min-width: available;
    margin-bottom: 5px;
    position: relative;
  }
}

ul.ordered {
  flex-direction: row;
  background-image: linear-gradient(
    rgba(255, 0, 0, 0) 48%,
    #75bf40 49%,
    #75bf40 50%,
    rgba(255, 0, 0, 0) 51%
  );
}

.ida-entry {
  padding: 0 var(--entry-padding) 0 var(--entry-padding);
  margin: 0 var(--entry-padding) 0 var(--entry-padding);
  background: #75bf40;
  //border: black solid 2px;
  border-radius: var(--entry-padding);

  & > div {
    padding-left: 0.3em;
  }

  @nest & button.close {
    position: absolute;
    background: transparent;
    font-size: 0.8em;
    right: 0.4em;
    top: -0.3em;
    //border-radius: 0.8em;
    //border: black solid 1px;
    width: 1em;
  }
  @nest & button.drag {
    position: absolute;
    background: transparent;
    font-size: 0.8em;
    left: 0.4em;
    top: -0.3em;
    width: 1em;
  }
  @nest & button.close:hover {
    font-weight: bold;
  }
  @nest & button.drag {
    position: absolute;
    background: transparent;
    font-size: 0.8em;
    left: 1.3em;
    top: 1em;
    color: var(--colors-ulightgray);
    width: 1em;
    cursor: grabbing;
  }
  @nest & button.nodata {
    top: 0.5em;
  }
  @nest & button.drag {
    color: var(--colors-nearly-white);
  }
  @nest & input {
    width: var(--entry-width);
    background: transparent;
    border: none;
    color: #ffffff;
    transition: color 0.5s ease-in-out;
    font-weight: bold;
  }
  @nest & input:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  @nest & input:focus {
    background: rgba(255, 255, 255, 0.4);
    color: #444444;
  }
  @nest & .entry-name {
    font-size: 0.7em;
    color: #ffffff;
    margin-top: -0.6em;
  }
}
.ignore .ida-entry {
  background: #bf4540;
}

.ida-ignore {
  border-left: 0.5em solid var(--colors-very-white);
  @nest & ul.ida-list {
    justify-content: flex-start;
  }
}

input:checked ~ .switch-paddle {
  & .switch-active {
    display: block;
  }
}
