@import '../../../styles/colors.css';

.content {
  font-style: italic;
  text-align: justify;

  & > * {
    color: var(--colors-nearly-black);
  }
}

/*button read all*/
.read-all {
  margin-top: 0.5rem;
  justify-content: center;
  & div {
    min-width: 182px;
  }
}
