.tabs {
  border: 0;
}

.expand-button {
  padding: 0.2em 0.4em;
  margin-bottom: 0;
}

/*target the div - increase width - that come immediatly after collapsed - doesn't work using class*/
.collapsed + div {
  flex: 0 0 94%;
  max-width: 94%;
  width: 94%;
}

.collapsed .vertical {
  display: none;
}

.collapsed.columns {
  flex: 0 0 auto;
  padding: 0;
  width: auto;
  margin-left: 1rem;
}

button.hollow.light {
  color: #92989c;
  border: 1px solid #d1d9de;
  outline: 0;
}
button.hollow.light:hover,
button.hollow.light:focus {
  color: #4b555b;
  border: 1px solid #92989c;
}

.browsemd-panel,
.browsemd-panel select {
  color: #4b555b;
}
