@import '../../styles/colors.css';
@import '../../styles/timing.css';

.label {
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.07);
  padding: 0.33333rem 0.5rem;
  color: var(--colors-graydark);
  font-size: 0.78rem;
  cursor: pointer;
  transition-property: background-color, color, opacity;
  transition-duration: var(--timing-fast);
}

@keyframes pulsing {
  from {
    opacity: 0.75;
  }

  to {
    opacity: 0.25;
  }
}

.loading {
  cursor: progress;
  animation-duration: var(--timing-medium);
  animation-timing-function: ease-in-out;
  animation-delay: var(--timing-instant);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: pulsing;
}

.label.lowGraphics {
  transition: none;
  animation: none;
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .label {
    font-size: 0.6rem;
  }
}
