@import "../../styles/timing.css";

.table {
  transition-property: opacity, filter;
  transition-duration: var(--timing-fast);
  transition-timing-function: ease-in-out;
  opacity: 1;
  filter: grayscale(0);

  &.isStale {
    user-select: none;
    pointer-events: none;
    opacity: 0.5;
    filter: grayscale(50%);
  }

  @nest & th {
    top: 88px;
    position: sticky;
    background: #f8f8f8cc;
  }
}
