@import '../../styles/timing.css';

table th {
  top: 98px;
  position: sticky;
}

.result-page .table-results-filtering {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #505f74;
  margin-bottom: 0.5rem;
  background: #e9f1f3; /* bluer rgba(45, 174, 193, 0.25) darker d4dddf */
  padding: 0.4rem 0.5rem;
}

.result-page select {
  color: #505f74;
  margin: 0;
  height: 2.1rem;
}

.result-page input {
  margin-bottom: 0;
  height: 2.2rem;
}

.result-page .table-results-filtering .icon-view {
  color: #71818a;
  width: 25px;
  height: 25px;
  display: inline-block;
  opacity: 0.5;
}

.result-page .table-results-filtering .icon-view.active {
  opacity: 1;
}

.result-page .table-results-filtering div > div:last-child .icon-view {
  margin-right: 0;
}

.result-page .table-results-filtering .icon-view.table-view {
  background: url(../../images/icons/ico-view-table-round.svg) no-repeat;
  background-size: 100%;
}
.result-page .table-results-filtering .icon-view.list-view {
  background: url(../../images/icons/ico-view-list.svg) no-repeat;
}
.result-page .table-results-filtering .icon-view.grid-view {
  background: url(../../images/icons/ico-view-grid.svg) no-repeat;
}
.result-page .table-results-filtering .icon-view.tree-view {
  background: url(../../images/icons/ico-view-tree.svg) no-repeat;
}
.result-page .table-results-filtering .icon-view.disabled {
  display: none;
}
.result-page .table-results-filtering .filter-wrapper {
  display: flex;
}

.type-selector {
  display: flex;
  line-height: 0;

  & > * {
    margin: 0 0.5ch;
  }
}

.test-support-grid {
  display: none;
}
@supports (display: grid) {
  .test-support-grid {
    display: flex;
  }
}

.table-footer {
  position: sticky;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);

  & td {
    padding: 0;
  }
}

.table-footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #505f74;
  padding: 0.4rem 0.5rem;

  & ul {
    margin-bottom: 0;
  }

  & :not(.current) > .no-link {
    opacity: 0.3;
    padding: 3px 10px;
  }

  & li.current {
    background: #71818a; /*b4cad8*/
  }

  & a {
    &,
    &:focus,
    &:visited {
      color: #505f74;
    }
  }
}

/* Small screen only */
@media screen and (max-width: 39.9375em) {
  .result-page .table-results-filtering .filter-wrapper {
    flex-grow: 1;
  }
  table.light th,
  table.light tr {
    display: block;
    margin-bottom: 1rem;
  }
  table.light td {
    display: block;
    margin-bottom: 0;
  }
  table.light thead,
  .pagesize-wrapper {
    display: none;
  }
  table.light tbody tr {
    border: 2px #d4dddf solid;
  }
  table.light tbody tr td {
    border: 0;
  }
  /*works for all table and shows accession/Entry type + name (entry - protein - structure) */
  table.light tbody tr td:nth-child(1),
  table.light tbody tr td:nth-child(2) {
    display: inline-block;
  }
}

.md-small {
  width: 50px;
  display: inline-block;
}

.table-main {
  transition: opacity var(--timing-fast) ease-in-out;
  opacity: 1;

  &.loading {
    user-select: none;
    pointer-events: none;
    opacity: 0.5;
  }
}
