@import "../../styles/timing.css";
@import "../../styles/colors.css";

/****************************** TABLE *********************************/
/*gal*/
.table-center {
  text-align: center;
}

.min-width-sm {
  width: 18%;
}
/* Small screen only */
@media screen and (max-width: 39.9375em) {
  .xs-hide {
    display: none;
  }
}

/*Style default table*/
table.classic {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  & thead th {
    border: 1px solid var(--colors-vlightgray);
    background: var(--colors-very-white);
  }
  & tr td {
    border: 1px solid var(--colors-very-white);
  }
  & tr:hover {
    background-color: #fafafa;
  }
}

table.classic tbody tr:nth-child(even) {
  background-color: var(--colors-nearly-white);
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
/*/Style default table*/

/*Style light table */
table.light {
  color: var(--colors-light-txt);
  font-size: 0.93em;
  border-collapse: collapse;
}
table.light thead {
  color: #9baaaf;
  margin: 10px 0;
  border: 0;
  background: transparent; /*Overwrite EBI global*/
}
table.light thead th {
  vertical-align: top;
  background: rgba(255, 255, 255, 0.8);
  outline: none;
  border-bottom: 1px solid #d4dddf;
  font-weight: 400;
  color: #73828c;
}
table.light.sorting thead th {
  color: #a7b2b6;
}

table.light thead tr:nth-child(even):hover {
  background: transparent;
}
table.light thead td {
  font-weight: normal;
  font-style: italic;
  color: #73828c; /*Overwrite EBI global*/
}

table.light thead th:hover {
  color: #73828c;
}
table.light tr:nth-child(even):hover,
table.light tr:nth-child(odd):hover {
  background-color: #f9fafb;
}
table.light tbody {
  border: none;
}
table.light tbody tr:nth-child(even) {
  background-color: #fff;
}
table.light tbody tr td {
  border-top: 1px solid #d4dddf;
  border-bottom: 1px solid #d4dddf;
}
table.light .order-row {
  background: #f2f6f7;
  border: 1px solid #fff;
}
table.light .tfooter label {
  color: #a7b2b6;
  font-size: 0.93em;
}
table.light .subheader {
  color: #505f74;
  margin: 10px 0 0 10px;
}

table.light.nolink tbody td a,
.table.light tbody td a:visited {
  color: var(--colors-light-txt);
}

table.light.sorting thead th {
  color: #a7b2b6;
}
table.light.sorting thead th:hover {
  color: #73828c;
}
/*/Style light table */

table.light.small {
  width: 30%;
  min-width: 300px;

  & td {
    border: none;
    padding: 0.3rem; /* no extra space */
  }
}

table.light.table-sum {
  font-family: var(--fonts-system);
  color: var(--colors-dark);
  width: 100%;
  border-right-width: 0;
  border-collapse: collapse;

  & tr:hover {
    background-color: transparent;
  }

  & td {
    border: none;
    padding: 0.5rem 1rem 0.5rem 0; /* extra space between two rows - easier than defining with */

    &:first-of-type {
      width: 20%;
      vertical-align: top;
      font-size: 110%;
      font-weight: 600;
    }
  }
}

/*responsive table*/
@media screen and (max-width: 39.9375em) {
  table.responsive th,
  table.responsive tr {
    display: block;
    margin-bottom: 1rem;
  }

  table.responsive tbody tr {
    border: 2px #d4dddf solid;
  }

  table.responsive tbody tr td {
    border: 0;
  }
  /*class used to show info on the same line   */
  table.responsive td.sm-inline {
    display: inline-block;
  }
}
/*/responsive table*/

table th {
  top: 98px;
  position: sticky;
  & > div.table-header {
    width: 100%;
    display: flex;
    gap: 0.3rem;
    flex-wrap: nowrap;
  }
  &.table-header-right {
    text-align: right;
    padding-right: 0;
    & > div {
      justify-content: right;
    }
  }
  &.table-header-center {
    text-align: center;
    & > div {
      justify-content: center;
    }
  }
}
.table-center {
  text-align: center;
}

.result-page .table-results-filtering {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #505f74;
  margin-bottom: 0.5rem;
  background: var(
    --colors-filter-background
  ); /* bluer rgba(45, 174, 193, 0.25) darker d4dddf */
  padding: 0.4rem 0.5rem;
}

.result-page select {
  color: #505f74;
  margin: 0;
  height: 2.1rem;
}

.result-page input {
  margin-bottom: 0;
  height: 2.2rem;
  padding: 0.5rem 1.2rem 0.5rem 0.5rem;
}

.result-page .table-results-filtering .icon-view {
  color: #71818a;
  width: 25px;
  height: 25px;
  display: inline-block;
  opacity: 0.5;
}

.result-page .table-results-filtering .icon-view.active {
  opacity: 1;
}

.result-page .table-results-filtering div > div:last-child .icon-view {
  margin-right: 0;
}

.result-page .table-results-filtering .icon-view.table-view {
  background: url(../../images/icons/ico-view-table.svg) no-repeat;
  background-size: 100%;
}
.result-page .table-results-filtering .icon-view.list-view {
  background: url(../../images/icons/ico-view-list.svg) no-repeat;
}
.result-page .table-results-filtering .icon-view.grid-view {
  background: url(../../images/icons/ico-view-grid.svg) no-repeat;
}
.result-page .table-results-filtering .icon-view.sunburst-view {
  background: url(../../images/icons/ico-view-sunburst.svg) no-repeat;
}
.result-page .table-results-filtering .icon-view.keyspecies-view {
  background: url(../../images/icons/ico-species.svg) no-repeat;
  background-size: 100%;
}
.result-page .table-results-filtering .icon-view.tree-view {
  background: url(../../images/icons/ico-view-tree.svg) no-repeat;
}
.result-page .table-results-filtering .icon-view.disabled {
  display: none;
}
.result-page .table-results-filtering .filter-wrapper {
  display: flex;
}

.type-selector {
  display: flex;
  line-height: 0;
  & > div {
    margin: 0 0.4rem;
  }
  & > div:only-child {
    margin: 0;
  }

  & > div:last-of-type {
    margin: 0 0 0 0.4rem;
  }
  & > div:first-of-type {
    margin: 0 0.4rem 0 0;
  }
}

.test-support-grid {
  display: none;
}
/*works - TESTED on IE11 : remove the grid icon when no support*/
@supports (display: grid) {
  .test-support-grid {
    display: flex;
  }
}

.pagesize-wrapper {
  min-width: 260px; /*placeholder - avoid too much jumping back and forth of icons in table when clicking on different MD*/
}

.table-footer {
  position: sticky;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);

  & td {
    padding: 0;
  }
}

body .table-footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #505f74;
  padding: 0.4rem 0.5rem;

  & ul {
    margin-bottom: 0;
  }

  & :not(.current) > .no-link {
    opacity: 0.3;
    padding: 3px 10px;
  }

  & li.current {
    background: #71818a; /*b4cad8*/
  }

  & a {
    &,
    &:focus,
    &:visited {
      color: #505f74;
    }
  }
}

/* Small screen only */
@media screen and (max-width: 39.9375em) {
  .result-page .table-results-filtering .filter-wrapper {
    flex-grow: 1;
  }
  table.light th,
  table.light tr {
    display: block;
    margin-bottom: 1rem;
  }
  table.light td {
    display: block;
    margin-bottom: 0;
  }
  table.light thead,
  .pagesize-wrapper {
    display: none;
  }
  table.light tbody tr {
    border: 2px #d4dddf solid;
  }
  table.light tbody tr td {
    border: 0;
  }
  /*works for all table and shows accession/Entry type + name (entry - protein - structure) */
  table.light tbody tr td:nth-child(1),
  table.light tbody tr td:nth-child(2) {
    display: inline-block;
  }
}

.md-small {
  width: 50px;
  display: inline-block;
}

.table-main {
  transition: opacity var(--timing-fast) ease-in-out;
  opacity: 1;

  &.loading {
    user-select: none;
    pointer-events: none;
    opacity: 0.5;
  }
}

.icon-filter {
  color: #a7b2b6;
  opacity: 0.6;
}

.icon-filter.open {
  opacity: 1;
}
