.masthead-black-bar a:visited {
  color: white;
}

/* Overwrite EBI guidelines styles… */
.global-nav > * {
  float: initial !important;

  &.active {
    float: left !important;
  }

  &.embl-selector {
    float: right !important;

    & > button {
      cursor: pointer !important;

      &::after {
        content: none !important;
      }
    }
  }
}

.home-mobile a {
  color: transparent !important;
  user-select: none;
}
