/* Overwrite EBI guidelines styles… */
.masthead-black-bar {
  & .global-nav {
    & > li {
      float: initial !important;

      & > a {
        color: white;

        &:not(.float-right):hover {
          color: #373a36;
          background-color: #d0d0ce !important;
          border-bottom: none;
          text-decoration: underline;
        }
      }

      &.embl-selector {
        float: right !important;

        & > a {
          cursor: pointer !important;

          &:hover {
            margin: 1px 1px 0 1px !important;
            text-decoration: none;
          }

          &::after {
            content: none !important;
          }
        }
      }
    }
  }
}
