.db-link {
  overflow-y: hidden;
}

.track-label {
  padding: 0px;
}

.track-label > .track-label {
  width: 100%;
  overflow-x: auto;
}

.track-label > .label-links {
  width: 100%;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding-right: 9px;
}

.interpro-label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  overflow-x: hidden;
}

.interpro-link {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.db-member-xs {
  height: 20px !important;
  width: 20px !important;
}

.icon-interpro {
  height: 16px;
  width: 16px;
  background-image: url("../../../images/logo/logo_lightblue.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
