@import '../../../styles/colors.css';
@import '../../../styles/timing.css';

.md-ip .md-color {
  fill: var(--colors-interpro);
}
.md-cg .md-color {
  fill: var(--colors-cathgene3d);
}
.md-cd .md-color {
  fill: var(--colors-cdd);
}
.md-ha .md-color {
  fill: var(--colors-hamap);
}
.md-mo .md-color {
  fill: var(--colors-modi);
}
.md-pa .md-color {
  fill: var(--colors-panther);
}
.md-pf .md-color {
  fill: var(--colors-pfam);
}
.md-pi .md-color {
  fill: var(--colors-pirsf);
}
.md-pri .md-color {
  fill: var(--colors-prints);
}
.md-pro .md-color {
  fill: var(--colors-prodom);
}
.md-prpro .md-color,
.md-pr .md-color {
  fill: var(--colors-profile);
}
.md-prpat .md-color {
  fill: var(--colors-prosite); /*was 8899a6*/
}
.md-sf .md-color {
  fill: var(--colors-sfld);
}
.md-sm .md-color {
  fill: var(--colors-smart);
}
.md-su .md-color {
  fill: var(--colors-ssf);
}
.md-ti .md-color,
.md-nf .md-color {
  fill: var(--colors-tigrfams);
}
.md-all .md-color {
  fill: var(--colors-all);
}
.md-removed .md-color {
  fill: var(--colors-dark);
}

.md-color,
.md-server {
  transition: fill var(--timing-slow) ease-in-out;
  fill: #e2e2e2;
  font-size: 9em;
  font-family: 'EBI-generic', arial, sans-serif;
}
:root {
  --aspect-ratio: 1 / 1;
}
.entry-member-db-icon svg {
  width: 80px;
}

.memberdb-logo {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.memberdb-logo.filter {
  padding: 0.5rem;
  filter: grayscale(90%);
  transition: filter 0.7s;
  justify-content: flex-end;
}
.memberdb-logo:hover {
  filter: none;
}
.memberdb-logo picture,
.memberdb-logo img {
  width: 100%;
  max-width: 120px;
}
