@import '../../../styles/fonts.css';
@import '../../../styles/colors.css';

.import-result {
  font: initial;
  font-family: var(--fonts-ebi);
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  width: 50%;
  padding: 1px;
  & label.import-label {
    font-size: 1.1em;
    color: var(--colors-gray);
    padding-right: 0.5em;
  }
}

.dragging {
  border: 1px solid var(--colors-interpro);

  & > :not(.dragging-overlay) {
    filter: blur(2px);
  }

  & > .dragging-overlay {
    visibility: visible;
  }
}
.dragging-overlay {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 0.5em;
  font-weight: bold;
  color: #1779ba;
  visibility: hidden;
}
