<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta lang="en-GB" />
    <meta name="theme-color" content="#00559e" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% for (const chunk of Object.keys(htmlWebpackPlugin.files.chunks)) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" defer></script>
    <% } %>
    <% for (const css of htmlWebpackPlugin.files.css) { %>
    <link href="<%= css %>" rel="stylesheet">
    <% } %>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="root">Loading</div>
  </body>
</html>
