@import "../../../styles/fonts.css";
@import "../../../styles/colors.css";

.sequence {
  font-family: var(--fonts-mono-alt);
  font-size: 0.8em;
  padding-left: 8ch;
  width: calc(100% - 8ch);
  color: black;
  counter-reset: sequence -10;
}

.sequence_word {
  position: relative;
  margin-right: 1ch;
  background: white;
}

.sequence_word::before {
  counter-increment: sequence 10;
  content: counter(sequence);
  user-select: none;
  color: var(--colors-main);
  position: absolute;
  left: -4em;
}
