@import "../../../styles/fonts.css";
@import "../../../styles/colors.css";

.sequence {
  font-family: var(--fonts-mono-alt);
  font-size: 0.8em;
  padding-left: 4em;
  color: #000;
  z-index: 1;
  counter-reset: sequence -10;
}

.sequence_word {
  position: relative;
  background: white;
}

.sequence_word::before {
  counter-increment: sequence 10;
  content: counter(sequence);
  user-select: none;
  color: var(--colors-main);
  position: absolute;
  left: -4em;
  z-index: -1;
}
