@import '../../styles/timing.css';
@import '../../styles/spacing.css';
@import '../../styles/z-index.css';

.masthead-black-bar {
  z-index: var(--z-index-ebi-header);
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: var(--timing-medium);
  display: none; /*solve bug top button non clickable on small screen because of visibility*/
  opacity: 0;
  transform: translateY(-50vh);
  position: relative;

  &.visible {
    display: block;
    opacity: 1;
    transform: translateY(-10px);
    z-index: calc(var(--z-index-ebi-header) - 5);
    /*position: relative;*/
  }

  & .embl-bar {
    position: fixed;
    top: calc(38px + var(--spacing-medium));
    left: initial;
    /*right: var(--spacing-medium);*/
    display: block;
    width: calc(100vw);
    /*max-width: 1400px;*/
    visibility: visible;
    border: none;
    & h5 {
      font-size: 1.25rem;
      font-weight: normal;
    }
  }
}
