@import '../../../styles/colors.css';
@import '../../../styles/fonts.css';

.banner {
  display: flex;
  margin-bottom: 2em;
  padding: 1em;
  background-image: linear-gradient(
    to right,
    rgba(0, 85, 158, 0.9),
    rgba(45, 174, 193, 0.5),
    rgba(0, 85, 158, 0.6)
  );
  color: var(--colors-dark);

  & .image-tool-ida {
    min-width: 25%;
    height: 8em;
    margin-right: 1em;
    background-color: transparent;
  }
}

.steps-list {
  padding: 1em;
}
