@import '../../../styles/colors.css';

.box-add {
  border-left: 4px solid var(--colors-submain);
  padding: 0 1rem;
}
.box-add ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1rem;
}
.flex-container a {
  color: white;
}
.flex-item {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.icon-box {
  border: 1px solid var(--colors-vlightgray);
  text-align: center;
  border-radius: 4px;
  padding: 2rem;
  width: 50%;
  justify-content: center;

  &:first-of-type {
    margin-right: 1rem;
  }
  & ul {
    list-style-type: none;
    margin: 0;
  }
  & h4::before {
    font-size: 200%;
  }
}
