@import '../../../styles/colors.css';

.box-add {
  border-left: 4px solid var(--colors-submain);
  padding: 0 1rem;
}
.box-add ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1rem;
}

.flex-box {
  text-align: center;
  padding: 2rem;
  flex: 1 0 50%;
  border: 1px solid var(--colors-vlightgray);
  border-radius: 4px;

  & ul {
    list-style-type: none;
    margin: 0;
  }
}

@media screen and (min-width: 39.9375em) {
  .flex-box:first-of-type {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 39.9375em) {
  .flex-container {
    flex-direction: column;
  }
  .flex-box:first-of-type {
    margin-bottom: 1rem;
    margin-right: 0;
  }
}
