@import '../../../styles/timing.css';
@import '../../../styles/fonts.css';

.species-list {
  font-size: 80%;

  & .column:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);
    transition: all var(--timing-really-fast) ease-out;
  }
  & span:before {
    font-size: 520%;
  }

  & .card-title {
    line-height: 1.1;
    font-family: var(--fonts-system);
    font-weight: 600;
    font-size: 120%;
    border-bottom: 2px white solid;
    padding-bottom: 2px;
    transition: border 0.3s ease-in-out;
    color: #0a0a0a;

    &:hover {
      border-bottom: 2px #4e4e4e solid;
      padding-bottom: 2px;
    }
  }
  & .list-detail {
    margin-top: 0.5rem;
  }
}

/*temp replace the float css while update to latest foundation*/
.species-list .row {
  display: flex;
  flex-flow: row wrap;
}

.species-list .column {
  flex: 0 0 25%;
  max-width: 25%;
}

@media screen and (max-width: 40em) {
  .species-list .column {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 20em) {
  .species-list .column {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/*/temp replace the float css while update to latest foundation*/
