@import '../../../styles/timing.css';
@import '../../../styles/colors.css';

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings {
  opacity: 0.25;
  flex-direction: column;
  transition: opacity var(--timing-slow) ease-in-out var(--timing-really-slow);
}

.callout:hover .settings {
  opacity: 1;
  transition-duration: var(--timing-fast);
  transition-delay: 0s;
}

.switch {
  margin: 1ch;
}

.link-in-tooltip {
  &,
  &:visited {
    color: var(--colors-interpro);
  }
}
