@import '../../../../styles/timing.css';

.radio {
  margin: 0.25em;
}

.range {
  height: 2.4em;
  margin-top: 0.5rem;
}

.hideable {
  display: block;

  &.hidden {
    user-select: none;
    display: none;
  }
}
