@import '../../styles/colors.css';
@import '../../styles/timing.css';

.label {
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.07);
  font-variant-numeric: slashed-zero oldstyle-nums proportional-nums;
  padding: 0.33333rem 0.5rem;
  color: var(--colors-graydark);
  font-size: 0.78rem;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: var(--timing-fast);
}

.label.lowGraphics {
  transition: none;
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .label {
    font-size: 0.6rem;
  }
}
