.label {
  margin-left: auto;
  background: rgba(0, 0, 0, 0.07);
  /*background: #d4dddf;*/
  color: #676767;
  font-size: 0.78rem;
  cursor: pointer;
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .label {
    font-size: 0.6rem;
  }
}
