@import '../../../styles/colors.css';
@import '../../../styles/timing.css';

/*Alternative to grid */
/*.flex-column {display: flex; flex-wrap: wrap; list-style-type: none;}*/
/*.flex-column .card-grid {width:23%; padding: 1rem;flex-grow: 1; margin: .5rem; }*/

.flex-grid {
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

  & interpro-type {
    padding: 0 1rem 0 0;
    float: left;
    line-height: 0;
  }
}

.card-grid {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all var(--timing-really-fast) ease-out;

  &:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
}

.card-grid a,
.card-grid a:visited,
.card-grid a:focus,
.card-grid a:hover {
  color: #222;
}

.card-image {
  width: 100%;
  background-color: var(--colors-submain);
  height: 130px;
  position: relative;
  transition: opacity 200ms ease-out;
  opacity: 0.7;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem 1.5rem;
}

.card-content > div {
  margin-bottom: 1rem;
}

.card-title {
  flex-grow: 1;
  font-size: 120%;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Roboto, Arial,
    sans-serif;
}

.card-label {
  padding: 0.2rem 0.5rem;
  color: white;
  text-transform: uppercase;
  font-size: 70%;
  position: absolute;
  bottom: 0;
  left: 7%;
}
.tutorials .card-label {
  background-color: #fab700;
  opacity: 0.7;
  transition: opacity var(--timing-really-fast) ease-out;
}

.card-grid:hover .card-label {
  opacity: 1;
}

.card-info {
  font-size: 90%;
  opacity: 0.5;
  display: flex;
  flex-wrap: wrap;
  transition: opacity var(--timing-really-fast) ease-out;
  & > div:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.card-grid:hover .card-info {
  opacity: 1;
}

.card-description {
  color: #606060;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Roboto, Arial,
    sans-serif;
  font-weight: 400;
  height: 9rem;
  overflow: hidden;
}

.card-grid .button {
  margin-bottom: 0;
}

.tuto-method .card-image {
  background: url('//www.ebi.ac.uk/training/online/sites/ebi.ac.uk.training.online/files/styles/full_width/public/course-images/funcfamsTO_image_small.jpeg?itok=AWLuNfMT')
    no-repeat 88% 17%;
}
.tuto-what .card-image {
  background: url('//www.ebi.ac.uk/training/online/sites/ebi.ac.uk.training.online/files/user/429/documents/fig11.png')
    no-repeat 50% 40%;
  background-size: 100%;
}
.tuto-intro .card-image {
  background: url('//www.ebi.ac.uk/training/online/sites/ebi.ac.uk.training.online/files/user/71/images/figure1.png')
    no-repeat 50% 40%;
  background-size: 100%;
}
.tuto-tour .card-image {
  background: url('//www.ebi.ac.uk/training/online/sites/ebi.ac.uk.training.online/files/slides/InterProMD_new2.jpg')
    no-repeat 50% 40%;
}

.card-grid:hover .card-image {
  opacity: 1;
}
