/* grid not yet working with IE11*/
.flex-grid {
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.image-tuto-method {
  background: url('../../../images/cover/tuto/photo_tuto_casestudy.png')
    no-repeat 88% 46%;
  background-size: 100%;
}

.image-tuto-what {
  background: url('../../../images/cover/tuto/sequence.png') no-repeat 50% 40%;
  background-size: 100%;
}

.image-tuto-intro {
  background: url('../../../images/cover/tuto/classification.png') no-repeat 50%
    40%;
  background-size: 100%;
}
.image-tuto-tour {
  background: url('../../../images/cover/tuto/quicktour.jpg') no-repeat 42% 40%;
  background-size: 190%;
}
