.new-input-group {
  display: flex;
  width: 100%;
  height: 2.5rem;
  & > * {
    height: 2.5rem;
    line-height: 2.5rem;
    margin: 0;
  }
}
.new-input-group-button button {
  background-color: var(--colors-submain);
  &:hover {
    background-color: var(--colors-submain-darker);
  }
}
.new-input-group-label {
  padding: 0 1rem;
  border: 1px solid #cacaca;
  background: #e6e6e6;
  color: #0a0a0a;
  white-space: nowrap;
}
