.card-wrapper {
  display: grid;
  grid-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card-flex-container {
  padding: 1rem;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  transition: all 0.2s ease-out;
  color: #606060;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Roboto, Arial,
    sans-serif;
}

.card-flex-container:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.card-flex-container:hover .card-header img {
  transformation: scale(0.5);
}

.card-header,
.card-block,
.card-footer {
  flex-grow: 1;
}
.card-header {
  text-align: center;
  width: 100%;
}

.card-header span::before {
  font-size: 376%;
}

.card-header h6 {
  font-weight: 600;
  font-size: 110%;
} /*16px*/

.card-header img {
  max-width: 60%;
}

.card-subheader {
  text-align: center;
  font-size: 80%;
}

.card-block {
  font-size: 15px;
  margin: 0.5rem 0;
}

.count-entries,
.count-proteins,
.count-structures,
.count-proteomes,
.count-architectures,
.count-organisms,
.count-sets {
  text-align: center;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 80%;
}
.card-footer > div:first-child {
  flex-grow: 1;
}
.card-footer > div:last-child {
  text-align: right;
} /*tax ID*/

.card-sum-wrapper {
  overflow: hidden;
  height: 92px;
}
.card-counter {
  color: #333;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.card-counter a,
.card-counter a:visited,
.card-counter a:hover {
  color: #333;
  display: block; /*temp? to show tooltip properly on the element*/
}

.label-off .label-number {
  display: none;
}
.card-counter .icon-conceptual::before {
  font-size: 210%;
} /*EBI icon size*/
.big-nb {
  font-size: 200%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Roboto, Arial,
    sans-serif;
}
.count-proteomes {
  padding: 0 0.5rem;
} /*to be consistent with EBI icons */
.icon-bookmark-temp {
  width: 18px;
  height: 47px;
  background-image: url('../../../../images/icons/ico-proteome.svg');
  background-position-y: 40%;
  background-repeat: no-repeat;
}

.icon-species {
  color: #e47471;
} /*default color for most of the icons*/

.icon-count-ida {
  height: 3em;
  width: 38px;
  background-image: url('../../../../images/icons/ico-ida.svg');
  background-size: 100%;
  background-position-y: 59%;
  background-repeat: no-repeat;
}

.icon-count-set {
  height: 3em;
  width: 26px;
  background-image: url('../../../../images/icons/ico-set.svg');
  background-size: 100%;
  background-position-y: 59%;
  background-repeat: no-repeat;
}

.icon-count-species {
  height: 3em; /*to align icon*/
  width: 30px;
  background-image: url('../../../../images/icons/ico-species.svg');
  background-size: 100%;
  background-position-y: 59%;
  background-repeat: no-repeat;
}

.md-small {
  width: 56px;
}

.card-counter .md-small {
  display: flex;
  width: 46px;
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
}
/*small screens*/
@media screen and (max-width: 39.9375em) {
  .card-counter {
    flex-wrap: wrap;
  }
  .card-flex-container {
    /*flex: 0 0 46%;*/
  }
}
