.tabs {
  margin: 1em;
  border: 0;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.tabs-title {
  margin: 1px;
  display: flex;
  align-items: stretch;
}

.tabs-title a {
  font-size: 1rem;
  background: #ccc;
}

.tabs-title a:hover {
  background: #aaa;
}

.tabs-title a.is-active-tab {
  background: #999;
  color: whitesmoke;
}
