.tabs {
  border: 0; /*needed to remove foundation style*/
  margin-bottom: 1rem;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.tabs-title {
  margin: 1px 0;
  display: flex;
  align-items: stretch;
  margin-right: 1em;
}

.tabs-title a,
.tabs-title a:visited {
  font-size: 0.9rem; /*same size as submenu*/
  padding: 0.7rem 1rem; /*to make it similar to EBI leaf menu*/
  color: #222;
}

.tabs-title a:hover {
  color: #1779ba;
}

.tabs-title > a:focus {
  color: #2199e8;
}

.tabs-title a.is-active-tab {
  font-weight: bold;
  background: #1779ba;
  color: white;
}
