.tabs {
  margin: 1em;
  border: 0;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.tabs-title {
  margin: 1px 0;
  display: flex;
  align-items: stretch;
  margin-right: 1em;

  &:last-child {
    margin-right: 0;
  }
}

.tabs-title a {
  font-size: 1rem;
  background: #ccc;
}

.tabs-title a:hover {
  background: #aaa;
}

.tabs-title a.is-active-tab {
  background: #999;
  color: whitesmoke;
}
