@import '../../../styles/colors.css';

.container {
  position: fixed;
  top: 0;
  right: -21em;
  height: 100vh;
  width: 20em;
  max-width: 90vw;
  z-index: 101;
  background-color: rgba(59, 59, 59, 1);
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  box-shadow: 1px 0 2px 3px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  overscroll-behavior-y: contain;

  @nest & ul {
    list-style: none;
    margin: 0 0 0.5rem 0;
  }

  @nest & a {
    display: block;
    padding: 0.4rem 0.6rem;
    font-size: 90%;
    transition: background-color 0.2s ease-in-out;
  }
}

.visible {
  transform: translateX(-21em);
}

.flex {
  display: flex;
}

.badge {
  margin-left: 0.25em;
}

.exit {
  font-size: 200%;
  color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0.2em;
  width: 1em;
  height: 1em;
  z-index: 1;
  user-select: none;
  overflow: hidden;
  outline: 0;
}

.exit:hover {
  color: rgba(255, 255, 255, 0.4);
}

/*ENTRY MENU*/
.sidemenu {
  background: none;
  color: #34b5b5; /*domain color*/
  flex-direction: column;
}
/*show icons for side menu - not on entry page*/
.sidemenu i {
  display: inline-block;
}

.sidemenu li {
  margin-right: 0rem;
}
.sidemenu li a,
.sidemenu li a:hover,
.sidemenu li a:active,
.sidemenu li a:focus,
.sidemenu li a:visited {
  color: #ccc;
  border: none;
  font-weight: normal;
  border-bottom: none;
  padding: 0.4rem 0.6rem;
  display: block;
  width: 100%;
}

/* doesn't work anymre? doesn't recognise active-tab class- trick to make the active class work - temp solution while we include SVG inline and use their class like*/
.sidemenu li :global(a.is-active-tab) i {
  filter: saturate(5) hue-rotate(190deg) brightness(0) contrast(0);
}
.sidemenu li :global(a.is-active-tab) i {
  filter: sepia(1) saturate(2) brightness(2) hue-rotate(138deg) contrast(0);
}

.container .sidemenu li > a:hover,
.container .sidemenu li > a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

/*/ENTRY MENU*/
/*INTERPRO MENU*/

.secondary {
  color: #2199e8;
  flex-direction: column;
}

.secondary i {
  display: inline !important;
}

.container .secondary a:hover,
.container .secondary a:focus {
  background-color: rgba(60, 135, 185, 0.2);
}
/*INTERPRO MENU*/
/*EBI MENU*/

.tertiary {
  color: #85bf7b;
}

.container .tertiary a:hover,
.container .tertiary a:focus {
  background-color: rgba(63, 165, 156, 0.2);
}

.secondary.default {
  background: #4b4b4b;
}

.menu-label {
  background: #444;
  border-top: 1px solid #5e5e5e;
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0;
  padding: 0.5rem 0.8rem;
  display: block;
  text-transform: uppercase;
}

.old-interpro-link {
  color: gray;
}
