@import '../../../styles/colors.css';

.container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 20em;
  z-index: 101;
  background-color: rgba(59, 59, 59, 1);
  transition: transform 0.3s ease-in-out;
  transform: translateX(20em);
  /*overflow-y: scroll;*/ /*remove the overflow as it creates left scrollbar(Win) by default and content is limited*/
  box-shadow: 1px 0px 2px 3px rgba(0, 0, 0, 0.3);

  @nest & ul {
    list-style: none;
    margin: 0;
  }

  @nest & a {
    display: block;
    padding: 0.4rem 0.6rem;
    font-size: 90%;
    transition: background-color 0.2s ease-in-out;
  }
}

.visible {
  transform: translateX(0);
}

.flex {
  display: flex;
}

.badge {
  margin-left: 0.25em;
}

.exit {
  font-size: 200%;
  color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0.2em;
  width: 1em;
  height: 1em;
  z-index: 1;
  user-select: none;
  overflow: hidden;
  outline: 0;
}

.exit:hover {
  color: rgba(255, 255, 255, 0.4);
}

.primary {
  color: #999;

  @nest & a:hover, & a:focus {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.secondary {
  color: #2199e8;
  flex-direction: column;
}

.secondary i {
  display: inline !important;
}

.container .secondary a:hover,
.container .secondary a:focus {
  background-color: rgba(60, 135, 185, 0.2);
}

.tertiary {
  color: #34b5b5;
}

.container .tertiary a:hover,
.container .tertiary a:focus {
  background-color: rgba(63, 165, 156, 0.2);
}

.container ul li a:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*bgd palette for side menu - not used yet */
.primary.domain {
  background: #6aad4c;
}
.primary.family {
  background: indianred;
}
.tertiary.clans {
  background: #279292;
}
.secondary.default {
  background: #4b4b4b;
}

.menu-label {
  background: #444;
  border-top: 1px solid #5e5e5e;
  font-size: 0.7rem;
  font-weight: bold;
  margin: 0;
  padding: 0.5rem 0.8rem;
  display: block;
  text-transform: uppercase;
}
