@import '../../../styles/timing.css';

.main-title {
  transform: translateY(0) scale(1);
  transform-origin: 20%; /* magic when time try to use 0% for vertical move only*/
  transition: transform var(--timing-fast) ease-in-out;

  &.stuck {
    transform: translateY(100%) scale(0.64);
  }
}

@keyframes moving {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(33%);
  }

  25% {
    transform: translateX(35%);
  }

  30% {
    transform: translateX(33%);
  }

  50% {
    transform: translateX(0);
  }

  70% {
    transform: translateX(-33%);
  }

  75% {
    transform: translateX(-35%);
  }

  80% {
    transform: translateX(-33%);
  }

  100% {
    transform: translateX(0);
  }
}

.logo-icon {
  transition: transform var(--timing-fast) ease-in-out;
}

.logo-text {
  font-size: 2.5rem;
}

.domain.loading {
  animation-duration: var(--timing-really-slow);
  animation-timing-function: linear;
  animation-delay: var(--timing-slow);
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-name: moving;
}

.subtitle {
  font-weight: 300;
  opacity: 1;
  transition: transform var(--timing-fast) ease-in-out;

  &.stuck {
    transform: translate(20ch, 12px);
    font-size: 113%;
    margin-bottom: 1rem;
  }
}

.logo-flex {
  display: flex;
  margin-left: -82px;
}

.logo-flex svg {
  width: 62px;
  margin-right: 0.9rem; /*to be aligned with tagline, aslo depends on svg width*/
}

.logo-flex-item {
  display: flex;
  align-items: center;
}

/*move offset logo to the left edge otherwise disappear*/
@media screen and (max-width: 89em) {
  h1.main-title {
    transform: translateX(80px);
  }
}

@media screen and (max-width: 39.9375em) {
  h1.main-title {
    font-size: 2rem;
  }
}

/*text reduc*/
@media screen and (min-width: 64em) and (max-width: 75em) {
  .logo-icon svg {
    font-size: 2.5rem;
  } /*reduce icon at the same time as text*/
}

/*medium only*/
@media screen and (min-width: 40em) and (max-width: 75em) {
  .logo-icon svg {
    width: 50px;
  }
  .logo-icon.stuck svg {
    width: 62px;
  } /*force icon to keep same size when sticky*/
}

/*small only*/
@media screen and (max-width: 39.9375em) {
  .logo-icon svg {
    width: 40px;
    margin-right: 0.7rem;
  }
  .logo-icon.stuck svg {
    width: 62px;
  }

  .subtitle {
    display: none; /*important when stuck keep banner height the same */
  }
  .stuck .logo-flex {
    margin-left: -35px;
  }
}
@media screen and (max-width: 52em) {
  /*not the best solution I guess*/
  .main-title.stuck {
    transform: translateX(0) translateY(100%) scale(0.64);
  }
}
