@import "../../../styles/timing.css";

.main-title {
  transform: translateY(0) scale(1);
  transform-origin: 20%; /* magic when time try to use 0% for vertical move only*/
  transition: transform var(--timing-fast) ease-in-out;

  &.stuck {
    transform: translateY(100%) scale(0.64);
  }
}

@keyframes flashing {
  from {
    fill-opacity: 1;
  }

  to {
    fill-opacity: 0.5;
  }
}

@keyframes moving {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(25%);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(0);
  }
}

.main-logo {
  transition: transform var(--timing-fast) ease-in-out;
}

.domain.loading {
  animation-duration: var(--timing-slow), var(--timing-really-slow);
  animation-timing-function: ease-in-out, linear;
  animation-delay: 0s, var(--timing-slow);
  animation-iteration-count: infinite;
  animation-direction: alternate, normal;
  animation-name: flashing, moving;
}

.subtitle {
  opacity: 1;
  transition: transform var(--timing-fast) ease-in-out;

  &.stuck {
    transform: translate(18ch, 18px);
  }
}

.logo-text {
  display: flex;
  align-items: center;
  margin-left: -82px;
  margin-right: 4px;
}

.logo-text svg {
  width: 62px;
  margin-right: 0.9rem; /*to be aligned with tagline, aslo depends on svg width*/
}

/*change EBI global font effect to happen at 63em instead of 75em*/
@media screen and (min-width: 64em) and (max-width: 75em) {
  body h1 {
    font-size: 3rem;
  }
}

/*med-large only*/
@media screen and (min-width: 64em) and (max-width: 75em) {
  .logo-text  svg {
    /*border:1px grey solid;*/
  }
}
/*medium only*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .logo-text  svg {
    width: 50px;
  }
  .local-masthead h1 {
    font-size: 2.4rem;
  }
}

/*small only*/
@media screen and (max-width: 39.9375em) {
  .logo-text  svg {
    width: 40px;
  }

  .logo-text {
    transform: translateX(82px);
  }
}

.logo-flex-item {
  display: flex;
  align-items: center;
}

.logo-color {
  fill: white;
}
