@import "../../../styles/timing.css";

.main-title {
  transform: translateY(0) scale(1);
  transform-origin: 20%; /* magic */
  transition: transform var(--timing-fast) ease-in-out;

  &.stuck {
    transform: translateY(100%) scale(calc(2 / 3));
  }
}

@keyframes flashing {
  from {
    fill-opacity: 1;
  }

  to {
    fill-opacity: 0.5;
  }
}

@keyframes moving {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(25%);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(0);
  }
}

.main-logo {
  transform: rotateZ(0);
  transition: transform var(--timing-fast) ease-in-out;

  &.stuck {
    transform: rotateZ(180deg);
  }
}

.domain.loading {
  animation-duration: var(--timing-slow), var(--timing-really-slow);
  animation-timing-function: ease-in-out, linear;
  animation-delay: 0s, var(--timing-slow);
  animation-iteration-count: infinite;
  animation-direction: alternate, normal;
  animation-name: flashing, moving;
}

.subtitle {
  opacity: 1;
  transition: transform var(--timing-fast) ease-in-out;

  &.stuck {
    transform: translate(18ch, 12px);
  }
}

.logo-text {
  display: flex;
  align-items: center;
  margin-left: -82px;
  margin-right: 4px;
}

.logo-text svg {
  width: 62px;
  margin-right: 0.9rem; /*to be aligned with tagline, aslo depends on svg width*/
}

@media screen and (max-width: 63.9375em) and (min-width: 40em) {
  .logo-text  svg {
    width: 50px;
  }
}

@media screen and (max-width: 39.9375em) {
  .logo-text  svg {
    width: 40px;
  }

  .logo-text {
    transform: translateX(82px);
  }
}

.logo-flex-item {
  display: flex;
  align-items: center;
}

.logo-color {
  fill: white;
}
